[2022-03-03 14:35] Lezek123 commented on #3347
Closing the issue in that case

[2022-03-03 14:35] #3347 closed, assigned to nobody

[2022-03-03 15:04] bedeho commented on #2760
This is a nice design, but things are starting to get really complex at this point, I do wonder whether its worth adding all of this in here at this stage, in particular when trying to now map out what should or should not be allowed as actions on a channel, video while in qurantine. This idea of not deleting right away is something that can be enforced as a matter of process by the content direct

[2022-03-03 19:15] kdembler commented on #3343
`transactionalStatusUpdates` was my first try because it just seems like a high-level wrapper over all the events. If my choice is to run 15 queries and construct history client-side OR get neat history alongside fetching the NFT, you know what my choice will be.

I took a look at the events QN provides and indeed it seems we should be able to extract all the data from there, it just seems it will

[2022-03-03 23:05] traumschule commented on #2760
These are contradicting. Maybe best to branch out separate issues for mentioned attack vectors / conflict types?

Define `inapproperiate content`. One scenario is an online mob being able to pressure lead actors (#2870) into wiping content for political or whatever reasons over night. `Offensive` would be similarly vague and there is probably no final definition including all possible threats to t

[2022-03-04 05:15] mochet opened #3351 "CLI: member/key selection is broken + documentation missing a feature + autocomplete problem"
(I'm using the `olympia-playground` branch)
# Account / Member selection
* Previously, there was an option in the CLI called `account:choose` and this was removed
* Now the way to change accounts is supposedly via `member:chooseMember`

1. Although this ~~does~~ (edit: doesn't) work to choose a valid `member` key, it won't let you select a `non-member` account.
2. It seems to fail in showing membe

[2022-03-04 06:12] mochet opened #3352 "Forum: Moderator tool problems/questions"
During Olympia testing a few problems have arisen from the Forum WG. ~~These issues seem to run contrary to how the handbook describes them and also seem to make elements of Pioneer's design not be in line with what is currently happening and also make some of the moderator tools available seem to have far less purpose. I'm not sure if everything is fully implemented yet as it is intended to be.~~

[2022-03-04 06:41] mochet commented on #3352
I'm not very familiar with the code side of things, but I did notice in the runtime code it checks the following:
`Make sure post exists and is mutable` - https://github.com/Joystream/joystream/blob/769210633f58646a2d0120ce8d79b5200c7810b7/runtime-modules/forum/src/lib.rs#L733

`Make sure post exists and is unmoderated` - https://github.com/Joystream/joystream/blob/769210633f58646a2d0120ce8d79b520

[2022-03-04 09:23] kdembler commented on #3342
Originally this issue was about past statuses, but turns out problem exists also for current status:
[code]

[2022-03-04 09:35] mrexpat commented on #2362
Is both a fixed and non-fixed issuance possible? Might have missed it but I'd imagine the option should be there?

[2022-03-04 09:57] mrexpat commented on #2362
A common problem that occurred A LOT on Bitclout were pump and dumps. The actual owners of the tokens/accounts didn't even need to be in on it, any group of scammers could choose a creator token to pump and dump. Because most creator tokens had such small transaction amount and volume it meant any group of scammers could have a large impact on the price of a token.

Often times what they would do

[2022-03-04 10:38] bedeho commented on #2362
This sounds like a very expensive and roundabout way to prevent manipulation. We actually do have fees planned, but not for the creator, but for the platform, but it would have the same effect. But as a remedy it seems both expensive and ineffective. You are saying it ended up working? If the amount of abuse declined, could that be for other reasons?

Seems the core problem is fake profiles: since

[2022-03-04 11:39] mrexpat commented on #2362
First let me clarify: the Founder Reward Percentage was not deployed as a mechanism to fight pump and dumps, that was just one of the side effects it had. Its primary use case for existing was that.. when you really boil it down, having people invest in your coin does not directly yield any rewards to the token owner. A Joystream channel could have a token worth $100m, and by that alone, they woul

[2022-03-04 13:03] Lezek123 opened #3354 "Bounty: No work submissions by an entrat prevent him from beeing slashed"
See: https://github.com/Joystream/joystream/blob/olympia/runtime-modules/bounty/src/lib.rs#L1625

When trying to slash a worker that entered a bounty, but didn't submit any work, we're currently getting: `WinnerShouldHasWorkSubmission`. The error name suggests it should only apply when we try to reward this worker, but in reality it's thrown regardless of the judgement type (as it's outside of the

[2022-03-04 14:48] mochet commented on #2760
@traumschule
I wanted to explain at least how I see our current governance features relating to some of the issues you mentioned in the context of the proposed design. The council has some limitations that make at least parts of what you mentioned highly infeasible. I also think there are scaling issues, particularly when it comes to individual decisions--because there may be many thousands of ong

[2022-03-04 15:49] dobertRowneySr commented on #3285
Nonce for the auction is required in both cases, since `complete_auction` utility function used in the runtime sets the `Nft::<T>::transactional_status` to `Idle`, effectively losing all the previous bids history. So it is not possible to withdraw funds after an auction is closed.

One simple but costly way to overcome the extra storage space is to release all the bids for the auction upon complet

[2022-03-04 17:23] mochet commented on #2362
Revenue Split:
1. This states in the first quoted line  `only once` but near the end it is inferred that future splits can happen. I assume that the revenue splits can be initiated by the Channel Owner multiple times?
2. Is a `Revenue Split` mandatory when creating a `Channel Token`?
3. I am trying to ensure I am comprehending this aspect of the design fully — is it correct that by making a `creat

[2022-03-05 10:53] bedeho commented on #3333
Agreed, can be changed later, not urgent.

I am not sure I buy that, but the check is not doing any real work anyway.

[2022-03-05 10:55] bedeho opened #3355 "Update & 5x Create Funding Request Proposal"
# Background

- https://github.com/Joystream/joystream/issues/3333
- https://github.com/Joystream/joystream/issues/1842

# Todo

* ~Drop per beneficiary spending limit.~
* ~Drop preventing checking duplicate accounts.~

Add new funding proposals, and make five versions of the same proposal where the only difference is that each has a different max % of the current budget they allow spending. The a

[2022-03-05 11:24] bedeho commented on #3343
You may be right, but its not obvious to me that this should be the case. Perhaps checking how Pioneer does this, for example listing events for a specific working group, can be helpful? My naive take is that it should just take a single query basically.

[2022-03-05 11:59] bedeho commented on #3285
Correct.

This is not feasible.

[2022-03-05 12:04] bedeho commented on #3354
I guess simplest solution is to just rename `WinnerShouldHasWorkSubmission` to `ShouldHasWorkSubmission`, or to introduce a new error for the slashing case `SlashingCandidateShouldHaveWorkSubmission`.

Does not seem critical either way, so perhaps we should fix it post-oympia?

[2022-03-06 16:33] #3274 closed, assigned to nobody

[2022-03-06 16:34] #3230 closed, assigned to nobody

[2022-03-06 16:34] #2737 closed, assigned to nobody

[2022-03-06 17:44] freakstatic opened #3356 "Olympia: Invite a member not creating the membership with the right balance value"
After a `SetInitialInvitationBalance` proposal changed the value of 100 JOY to 500 JOY (https://pioneer-2.vercel.app/#/proposals/preview/79)

[#150547](https://polkadot.js.org/apps/?rpc=wss%3A%2F%2F3.87.51.41.nip.io%2Fws-rpc#/explorer/query/150547)
members.InitialInvitationBalanceUpdated
[code]

The new invited member still received 100 JOY

[#150732](https://polkadot.js.org/apps/?rpc=wss%3A%2F%2F

[2022-03-06 17:53] freakstatic commented on #3356
FYI
[code]

[code]

[2022-03-06 20:17] bwhm opened #3357 "Olympia: `initialInvitationBalance` isn't read"
After proposal to `SetInitialInvitationBalance` is approved and executed, the `initialInvitationBalance` gets updated, yet balance of a new invitee will still equal `defaultMembershipPrice`.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201709380879215/1201924941477015) by [Unito](https://www.unito.io)

[2022-03-06 21:13] bwhm opened #3358 "Olympia: Query node grants invited member invitations"
I think this might be a duplicate, but making the issue just in case.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201709380879215/1201925036196941) by [Unito](https://www.unito.io)

[2022-03-06 22:36] freakstatic commented on #3356
duplicated by: https://github.com/Joystream/joystream/issues/3357

[2022-03-07 01:35] mochet opened #3359 "Olympia: sporadic QN lag spikes (WIP)"
## Problem
During testing the QN has started to have sporadic lag spikes. When these spiked happen `Pioneer` as well as `polkadot.js.org` can both become inaccessible for some amount of time. I have no server access but will make a few notes here to see if anything may be causing this.

edit: of course, after writing this, it didn't have any lag spikes... will keep open for any further testing whe

[2022-03-07 07:42] Lezek123 commented on #3354
So do we indeed want to prevent slashing an entrant that didn't submit any work?

[2022-03-07 08:07] bedeho commented on #3354
Actually no, that could make sense, as long as we are slashing people who withdraw, slashing people who don't submit should also be feasible, but I don't think this very important, and certainly not now. I have not looked at the

So to summarize, we should
- update event naming
- allow slashing entrants who never submitted any work: this probably also means we can remove state that reflects whethe

[2022-03-07 08:49] Lezek123 commented on #3336
Done in https://github.com/Joystream/joystream/pull/3339

[2022-03-07 08:49] #3336 closed, assigned to Lezek123

[2022-03-07 08:50] Lezek123 commented on #3311
Done in https://github.com/Joystream/joystream/pull/3328

[2022-03-07 08:50] #3311 closed, assigned to Lezek123

[2022-03-07 08:51] Lezek123 commented on #3015
Done in https://github.com/Joystream/joystream/pull/3205

[2022-03-07 08:51] #3015 closed, assigned to Lezek123

[2022-03-07 08:55] bedeho commented on #3359
What is spiking?

1. the API response latency?
2. the progress in indexing blocks?
3. the progress in processing blocks?

A more complete description of what is observed is needed.

[2022-03-07 09:15] mnaamani commented on #3326
Implemented in  #3346
Values can always be revised when rhodes is released, by settings them in `on_runtime_upgrade()`

[2022-03-07 09:15] #3326 closed, assigned to mnaamani

[2022-03-07 09:17] mnaamani commented on #3207
Member and Content migration scripts implemented in https://github.com/Joystream/joystream/pull/3239

[2022-03-07 09:39] L3pereira commented on #3193
@shamil-gadelshin here is the test with abnormal behaviour
[code]
[code]

[2022-03-07 10:37] Lezek123 commented on #3354
We're still using it to prevent rewarding an entrant with no submitted work

Do you mean the error name? As long as we're still preventing rewarding the entrant with no works submitted (we're only allowing slashing), I think `WinnerShouldHasWorkSubmission` is a correct name (perhaps we could just fix `Has` => `Have` typo, but it doesn't seem very important)

[2022-03-07 11:21] bedeho commented on #2362
Splits can happen only once at a time, but an unlimited number over time.

No. You can either chose to give 0 % to $CRT, or, you could just never do splits, _but_, if you have split % > 0, then this also means you also cannot get funds out for yourself.

Yes.

I did not understand this really, but they are unrestricted in when they want to do splits, and how much to split out.

Yes.

This is only

[2022-03-07 13:05] Lezek123 commented on #3358
Done in https://github.com/Joystream/joystream/pull/3360

[2022-03-07 13:05] #3358 closed, assigned to Lezek123

[2022-03-07 14:50] bedeho opened #3365 "Enable NFT features"
Turn it back on! :rocket:

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1201929292970436) by [Unito](https://www.unito.io)

[2022-03-07 16:54] kdembler commented on #3244
Duplicate of https://github.com/Joystream/joystream/issues/3245

[2022-03-07 16:54] #3244 closed, assigned to dmtrjsg

[2022-03-07 16:56] kdembler commented on #3245
@dmtrjsg Since there is no ticket for playlists in runtime in general, I will repurpose this one to be more generic (not just QN) if you don't mind so we have a place to discuss and we already have some description here

[2022-03-07 16:58] kdembler commented on #3245
@bedeho Quick q that popped into my head today: We are gonna implement playlists as a metaprotocol, will that allows us to use the storage system? One of the features we want is uploading a custom thumbnail for your playlist, how do we go about that with a metaprotocol? I guess some special treatment would be needed on the runtime side?

[2022-03-07 17:07] bedeho commented on #2362
@ignazio-bovo

Adding some requirements here based on feedback, the state chart has to be updated later to reflect this! (will be forgotten :D)

# Control initiation of sales and AMMs

**For simplicity, we should probably just not allow initiating sale OR AMM as part of issuance, and make it separate step, to make this all simpler**

- Add a new content directory flag, managed by the lead, which b

[2022-03-07 17:10] bedeho commented on #3245
Originally, I presumed this should be done by just overloading the Video concept, which already has a storage integration. (Btw. it will be renamed to from video to like content or something). This means that playlists are a first class citizen that the chain recognizes and protects, meaning you can issue NFTs of it, and you cannot delete a channel on chain if it has a playlist on-chain, etc. All

[2022-03-07 17:11] mochet commented on #3359
I don't know how to explain it in those exact terms but basically the whole polakdot.js.org interface stops gathering blocks and the pioneer interface sits trying to connect until it comes back online.

It's unlikely to be caused by the user-side because when it dropped out myself and another of the testers experienced the same situation.

[2022-03-07 17:14] bedeho opened #3367 "Metaprotocol enhancement: storage+payments"
# Background
Credit goes to kdembler for this question
https://github.com/Joystream/joystream/issues/3245#issuecomment-1060908766

# Proposal
We can make the metaprotocol messages even more powerful if we decorate them with two optional extra features with side-effects

* Send someone money: `Option<(Account, Balance)>`, withdrawn from whatever account makes most sense, but be careful here, don't

[2022-03-07 17:27] bedeho commented on #3099
This is no longer part of Rhodes scope.

[2022-03-07 17:27] bedeho commented on #3098
This is no longer part of Rhodes scope.

[2022-03-07 19:02] bedeho commented on #3354
Ok yes, makes sense.

I was referring to the fact that we used the error about _winner_ not having submitted work to also refer to people being _slashed_ who have not submitted work, the latter are not winners.

[2022-03-08 10:25] kdembler commented on #3367
One problem that I think you identified in the past is what happens when the transaction fails on meta-protocol level for some reason. Side-effect would still occur though, leaving client in a problematic state to handle

[2022-03-08 10:35] bedeho opened #3369 "Create Rhodes QA Plan"
We need a complete plan for what to test in Rhodes, through Atlas primarily. The plan should be feasible to execute in stages, so we can go as early as possible.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1201934751977417) by [Unito](https://www.unito.io)

[2022-03-08 10:53] bedeho commented on #3367
Yep this is a very good point, still seems worth it to have the feature tho. In some cases, the client may even have perfect certainty about whether meta-protocol failure can even happen, in many other it will be exceedingly rare if client is well behaved (like someone incidentally exactly removes a comment that you tipped the moment you did it).

[2022-03-08 11:50] bedeho opened #3372 "Introduce channel accounts"
As described here

https://github.com/Joystream/joystream/issues/3263

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1201934969693349) by [Unito](https://www.unito.io)

[2022-03-08 12:20] ondratra commented on #3300
We will also need to track if OwnedNFT is owned by the channel or not. Add `isOwnedByChannel` to `OwnedNft` as well. Only when `isOwnedByChannel` is true, track all channel owner changes and reflect them to `OwnedNft`.

[2022-03-08 12:48] bwhm opened #3374 "Allow `proposalDiscussion.addPost` to set thread mode"
If not, it requires a separate extrinsic for the user, which is somewhat annoying.

cc @shamil-gadelshin

[2022-03-08 12:51] bedeho opened #3375 "Audit 3 Meeting Tracking Issue"
# `8 March`

##  Participants

- Mokhtar
- Ignazio
- Luis
- Shamil
- Leszek
- Bedeho

## Agenda

- Review issue catalogue and try to assign some tasks.
- Determine whether we should do Substrate upgrade, to what version, and when.
- When we could expect to have the work done.

## Conclusions

- We need to very quickly start closing the large number of open PRs in order to make working on shared co

[2022-03-08 14:03] bedeho opened #3376 "Add curator permissions for creator tokens"
# Background
When this has been done

https://github.com/Joystream/joystream/issues/2760

# Proposal
Add

* **UPDATE_APPROVED_SELLER_STATUS**
* **UPDATE_APPROVED_AMM_STATUS**

based on

https://github.com/Joystream/joystream/issues/2362#issuecomment-1060918599

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1201935632986484) by [Unito](https://www.unito.io)

[2022-03-08 14:54] bedeho opened #3377 "Upgrade pallets & runtime to new Substrate version"
The upgrade in question will leave pallets using old FRAME macroes.

* [ ] Node & Runtime
* [ ] Common
* [ ] Council
* [ ] Storage
* [ ] Staking
* [ ] Content
* [ ] Working Group
* [ ] Election
* [ ] Proposal: Codex &Engine
* [ ] Membership
* [ ] Bounty

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1202105219092607) by [Unito](https://www.unito.io)
┆Link T

[2022-03-08 18:33] bwhm opened #3378 "Add "title" to opening schema"

[2022-03-08 19:32] bedeho commented on #2760
# Doing a 180°: deleting assets is a nono

After some additional contemplation I think that deleting _assets_ like NFTs or Creator Tokens is just a not something we can allow. Just the possibility of this happening, or if it ever actually happened in a case which was even mildly contentious, then this looming risk would end up undermining the value of all assets regardlss.

It also is actually unl

[2022-03-09 08:50] #3286 closed, assigned to dobertRowneySr

[2022-03-09 08:58] L3pereira opened #3379 "Bounty module, A worker can arbitrarily withdraw funds from another worker if he knows the respective entry id"
If you run the following test, two workers successfully contribute and they should receive reward / 2, but worker 1 not only tries to call withdraw_work_entrant_funds with entry id ,1 but also tries with entry id 2 (before worker 2), the result is that the entry ids are removed worker 1 gets the total reward and worker 2 receives 0.
Is this intentional? It seems a malicious worker can steal other

[2022-03-09 09:16] L3pereira commented on #3379
I think we should validate not only if the entry exists but also which worker it belongs to

https://github.com/Joystream/joystream/blob/1c37a713511cfaf35b9577069f78827492324f2c/runtime-modules/bounty/src/lib.rs#L1217

[2022-03-09 09:30] L3pereira commented on #3379
I guess withdraw_work_entry has the same problem, here, malicious worker 1 can wait until the last moment of the working period, and withdraw the worker 2 entry, causing worker 2 account to be slashed to the maximum.

https://github.com/Joystream/joystream/blob/1c37a713511cfaf35b9577069f78827492324f2c/runtime-modules/bounty/src/lib.rs#L1059

[2022-03-09 10:10] bedeho commented on #3379
Well spotted, I agree these look like two bugs.

[2022-03-09 10:16] L3pereira commented on #3379
Ok, I will fix and include it in the PR, the second bug is mitigated in the new implementation because there is no limited working period anymore and there is no slashing in the withdraw_work_entry, but the entry would be removed anyway

[2022-03-09 12:22] Lezek123 opened #3380 "Introduce Channel/Video -> BTreeSet<DataObjectId> association in the runtime state"
To solve https://github.com/Joystream/joystream/issues/2936 we need to introduce some state in the content directory to map data objects to specific channel/video in order to determine whether the actor is trying to remove a data object associated with a video that already has an nft issued (or channel that has some creator tokens issued).

The initial idea is to add `objects: BTreeSet<DataObjectI

[2022-03-09 13:47] bedeho commented on #3380
I guess the `storage` pallet would be the other natural candidate, I don't remember whether it has a deletion extrinsic.

[2022-03-09 17:11] kdembler opened #3381 "NFT query node - ownedNftsConnection fails"
If you run a query to `ownedNftsConnection` and include `transactionalStatus` in the requested field, the query will fail. Example query:

[code]

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1201943702689043) by [Unito](https://www.unito.io)

[2022-03-09 17:37] bedeho commented on #2362
# Generalisation

It has multiple times in the past been contemplated that other entities than channels may also be suitable candidates for issuing creator token like assets. It would serve us well do keep this in mind when writing this new pallet, so as to make the friction involved in facilitating this minimal. Off the top of my head, the following occurs to me:

- Name the pallet `project_token

[2022-03-10 07:37] dobertRowneySr opened #3382 "Creator Token Workload"
# Notes
- $CRT = generic creator token
- `creator` = anyone that is the owner of a channel, has the right to issue a own $CRT
# Pallet components
## Supporting library
(token core implementation): I am in favor of using [assets](https://github.com/paritytech/substrate/tree/master/frame/assets):
**Dependencies**:
[code]
This will provide us with a bunch of primitives such as :
- `burn(token_id, acc

[2022-03-10 08:20] bedeho commented on #3382
- what is `polkadot::assets` ? link?
- Does `polkadot::assets` have vesting features? These are part of the requirements. I think we should consider dropping it if its not supported and there is no easy workaround.
- What version of Substrate/polkadot is needed to use `polkadot::assets´ ?
- I think revenue split and sale can  be done separately, why not?
- I think patronage also easily can be done

[2022-03-10 08:25] mnaamani commented on #3381
Seeing this also in "graphql playground fix" PR https://github.com/Joystream/joystream/pull/3335#issuecomment-1061449936

[2022-03-10 11:38] mnaamani opened #3384 "HOWTO: Deploy a Playground"
## What is a playground

A playground is a temporary deployment of a single node into the cloud (currently on AWS) which all the joystream infrastructure services running on that single machine. Its state is persisted as long as the node remains online (if it is rebooted it much be brought up within a short time period, 2minutes at most for the chain to continue producing blocks without error)

-

[2022-03-10 12:12] mnaamani commented on #3384
Some limitations and why manual intervention is sometimes required after deployment.
1 - The default ssh key placed on the deployed instance must be created on aws first. Currently only one "named" key exists and is not shared with the team. So Admin @mnaamani needs to ssh into the node and add keys of users that need to ssh into the node to check on status / query-node etc.

This is easily solved

[2022-03-10 13:58] Lezek123 commented on #3008
Draft PR created: https://github.com/polkadot-js/apps/pull/7134

[2022-03-11 05:34] #2963 closed, assigned to ondratra

[2022-03-11 11:30] bedeho opened #3387 "Fix BTreeSet wrapping bug"
It "should" be possible to have `content::ContentModerationPermissions` as a `BTreeSet<ContentModerationAction>`

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1201954507615468) by [Unito](https://www.unito.io)

[2022-03-11 11:56] bwhm opened #3388 "Membership Migration requires tokens"
There are currently 1069 members where the balance of their `rootAccount` is less than 100 (the current price). This causes the migration to fail.

If we still want to have them register with `sudoAs`, I suggest adding the following to the script:

1. Get the current `members.membershipPrice` (or the constant `defaultMembershipPrice`)
2. Check the balance of each `rootAccount`, and store the addre

[2022-03-11 12:00] bedeho opened #3389 "Finalize genesis token supply and $JOY denomination"
# Background
So far, we have not pinned down the token supply, and actually operated with a denomination where $JOY was the base currency unit (i.e. Satoshis of Joystream).

# Proposal
* **Token Asset Name:** $JOY
* **Base Unit Name:** BDH (joking :rofl:  ... seriously we need a name here...! ask Atlas God-King kdembler or ask community?)
* **$JOY Token Denomination:** 10,000,000,000 (ten Billion)

[2022-03-11 12:03] bwhm commented on #3388
Non-issue.

[2022-03-11 12:03] #3388 closed, assigned to nobody

[2022-03-11 12:04] mnaamani commented on #3389
Base Unit Name suggestions:
 `Hapi` ? Lots of `HAPI`s  you get `JOY` :D
 `Smile`s

[2022-03-11 12:11] bedeho opened #3390 "Update runtime with final base token supply"
Basically to reflect this

https://github.com/Joystream/joystream/issues/3389

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202171666464204) by [Unito](https://www.unito.io)

[2022-03-11 12:13] adovrodion commented on #3389
MNT (minute)
MMT(a moment)

[2022-03-11 12:18] narniec commented on #3389
JOL (jollity)

[2022-03-11 12:22] mrexpat commented on #3389
`Bite` - take a bite of $JOY

[2022-03-11 12:24] lionff commented on #3389
Fun
STR

[2022-03-11 12:27] mnaamani commented on #3389
STR as in "Stream" ?

[2022-03-11 12:33] TCzechowski commented on #3389
`XD`'s.
Lots of XD's = JOY

Or let's switch things around... call base unit a `JOY`, and `XD` as a token name. This way we also get the full scalability:

1000 `XD` = 1 `XDD`
1000 `XDD` = 1 `XDDD`
etc.

(I'm ofcourse joking, please don't take it seriously 🤣)

[2022-03-11 12:38] blrhc commented on #3389
`GDM` or `GAU` (_gaudium_ is "joy" in latin) ?
links to the ancient civilisation branding a bit, if we are keeping that

`GLI`(s) (as in glee)

[2022-03-11 12:44] blrhc commented on #3389
`GLAD` <- less intense than joy(ful), so maybe works as a sub-unit.

[2022-03-11 12:51] Arsi44 commented on #3389
Stream-coin (STC)
"coin" word makes itself less important compared to Joy.
So Joy contains of Stream-coins

Moreover, it is combined with the name of the project.

[2022-03-11 12:55] bedeho commented on #3380
Question, do you really need to update the new `objects` on calls to

- `delete_channel`: if this works, no videos exist, and the channel is gone, so no `objects` exist for this channel
- `delete_video`: if this works, the video is gone, hence `Video::objects` is gone, and `Channel::objects` should not be affected?
- `delete_channel_as_curator`: same
- `delete_video_as_curator`: same

[2022-03-11 13:29] mnaamani commented on #3389
`Giggle`s

[2022-03-11 14:06] bedeho commented on #3380
For `update_video` I assume this is to prevent someone from deleting a dataobject by doing a deletion via a different video?

For channels I guess it is automatically ensured, isn't it? because data objects from different channels live in distinct bags?

[2022-03-11 14:18] bedeho opened #3394 "Introduce video state bloat bond"
# Dependency
https://github.com/Joystream/joystream/issues/3607

# Proposal
Currently missing, this means creating a video, without any storage assets, will generate no state bond, but it will take up space in storage. This is unlike channels, which have to have a storage bag created, so there is at least a proportional state cost, but it may be slightly too low, however that is acceptable. Fund w

[2022-03-11 14:39] Lezek123 commented on #3380
Good point, there's no need to update the set in case of channel/video deletion, I'll update the description.

Yes

Data objects associated directly with a channel and data objects associated with all videos in this channel live in the same bag, so one could potentially use `update_channel` to remove assets associated with a video that has an nft issued (which should not be possible) if we didn't

[2022-03-11 14:50] spatsochi commented on #3389
My opinion is that the application is convenient for calculating tokens with a small coin issue and high capitalization  such as Btc , dash , zec . 1 billion joystream tokens is too much for this adoption , imagine if the capitalization reaches at best $ 1 billion , and what next? 1 joy will be equal to $ 1, and if we divide $ 1 by 10 times, we will get a very low figure, besides, if we are lookin

[2022-03-11 15:51] yasiryagi commented on #3389
1 Joy = 1000000 uJOY

On the Joy theme
Grin
Bliss

[2022-03-11 16:07] shtihmas commented on #3389
Token Asset Name: $JOY
Base Unit Name: STREAM

[2022-03-11 16:21] Xandrell commented on #3389
Token Asset Name: $JOY
Base Unit Name: like

[2022-03-11 18:58] bedeho commented on #3380
Oh snap, missed that one, well done sir :)

[2022-03-11 19:55] bedeho commented on #3382
# Assets

- Did you review how this is different from ORML asset lib? how is it different?
  - is it actively maintained?
  - any sense of how it would work with ecosystem wallets?
  - is it used in any live chain? for example statemint which is the Polkadot asset chain.
  - how, if at all, is this working with XCM standard?
- It seems this is using the new macros, so could we even use this withou

[2022-03-11 20:21] mnaamani commented on #3039
Making use of playground deployments and adding feature to pioneer to configurable it through network-config query in url we can now point pioneer to different networks:

Implemented in https://github.com/Joystream/pioneer/pull/2193 and https://github.com/Joystream/pioneer/pull/2532

[2022-03-11 20:21] #3039 closed, assigned to mnaamani, Lezek123

[2022-03-11 20:29] mnaamani commented on #1117
We now have an action to create releases.

[2022-03-11 20:29] #1117 closed, assigned to mnaamani

[2022-03-11 20:31] mnaamani commented on #163
Fixed in newer versions of content directory

[2022-03-11 20:32] mnaamani commented on #860
old storage node is deprecated. this issue is no longer relevant.

[2022-03-11 20:32] #860 closed, assigned to mnaamani

[2022-03-11 20:34] mnaamani commented on #662
This issue was for old versions of colossus and pioneer no longer relevant.

[2022-03-11 20:34] #662 closed, assigned to mnaamani

[2022-03-11 20:35] mnaamani commented on #831
issue is no longer relevant, media playback from pioneer is deprecated.

[2022-03-11 20:35] #831 closed, assigned to mnaamani

[2022-03-11 20:53] mnaamani commented on #2456
Perhaps it is just best effort on part of the node. Its good to be well connected, but I understand it does put more demand and cost on bandwidth. Perhaps future versions of substrate with newer versions of libp2p perform better with regards to handling connection limits.

[2022-03-11 20:55] mnaamani commented on #660
https://github.com/Joystream/joystream/blob/master/colossus.Dockerfile

[2022-03-11 20:55] #660 closed, assigned to mnaamani

[2022-03-11 20:58] mnaamani commented on #1541
Moved away from monolithic single docker image, opting for individual docker files per service.
Pioneer has a separate dockerfile https://github.com/Joystream/joystream/blob/master/pioneer.Dockerfile
But this is going away with release of Olympia

[2022-03-11 20:58] #1541 closed, assigned to mnaamani

[2022-03-11 21:19] #541 closed, assigned to mnaamani

[2022-03-11 21:20] mnaamani commented on #466
New versions of wasm-builder resolved this a long time ago.

[2022-03-11 21:20] #466 closed, assigned to mnaamani

[2022-03-11 21:22] mnaamani commented on #659
Done starting giza release

[2022-03-11 21:22] #659 closed, assigned to mnaamani

[2022-03-11 21:23] mnaamani commented on #704
Expected behavior, no longer relevant though as pioneer is being deprecated.

[2022-03-11 21:23] #704 closed, assigned to nobody

[2022-03-11 21:25] mnaamani commented on #2718
Done in #2746

[2022-03-11 21:25] #2718 closed, assigned to nobody

[2022-03-11 21:54] mnaamani commented on #2188
Does the latest raspberry pi build work for you from https://github.com/Joystream/joystream/releases/tag/v9.14.0
It is cross compiled on linux see: https://github.com/Joystream/joystream/blob/60fcebb0e3ed02f9dfb29a0f755325d523249c9a/.github/workflows/create-release.yml#L48
Using the script from: https://github.com/Joystream/joystream/blob/master/scripts/raspberry-cross-build.sh

[2022-03-11 21:58] mnaamani commented on #2453
No longer an issue starting with Olympia release as it is a new chain and will be using new version of librocksdb-sys

[2022-03-11 21:58] #2453 closed, assigned to nobody

[2022-03-11 22:06] bedeho commented on #3384
Is this not a problem? if it is, what would it involve to unlock?

Ok so why can't people just deploy a new playground when there is a new query node, is that really a blocker then?

What is the cost of people not being able to do so, are we speaking only $USD?

# Summary

If the answer to the last two questions basically is
3: they can
4: < a few thousand USD per month if oyu have to housekeep ev

[2022-03-12 04:36] jen4ph commented on #3389
Base unit name:
1. Gene - from JSGenesis, also in biology gene is the basic physical and functional unit of heredity
2. Jolt - from nothing 😅

[2022-03-12 06:07] igrexac commented on #3389
I like version: **frame (FRM)** as the minimum video element

[2022-03-12 06:57] leetjoy commented on #3389
Token asset - $JOY
Base unit - LJOY (Lil joy)

[2022-03-12 08:20] bedeho opened #3396 "Incorporate Cumulus parchain pallets"
**WIP**

# Resources
* XCMv2: https://blog.quarkslab.com/a-brief-overview-of-auditing-xcmv2.html
* https://blog.quarkslab.com/resources/2022-02-27-xcmv2-audit/21-12-908-REP.pdf
* Video Workshop https://www.youtube.com/watch?v=ubGCusTnhSM which covers this workshop https://docs.substrate.io/tutorials/v3/cumulus/start-relay/, shows
  * connecting to relay chain
  * interoperable native asset
  * int

[2022-03-12 08:32] bedeho commented on #3382
Looking a bit at XCM, its not actually clear to me that we could not just implement our own minimal asset module inside `project_token`, with exactly the features we need, and then configure the XCM executor to work with it. It is not however clear to me how well integrations with wallets and block explorers will work.

[2022-03-12 11:54] oleksanderkorn commented on #3389
`nJOY` which sounds like `enjoy` but means `nano-joy`

[2022-03-12 14:01] bedeho opened #3397 "Factoring out NFT pallet"
# Background
Currently, we have NFTs fully backed into the content pallet, specifically into the videos/content of each pallet.

# Question
What if we factored out the NFT functionality into its own pallet.?

This would basically entail that we create a new pallet, call it `nft`, which has public methods for issuing and de-issuing nfts, which can be called from any other module in the runtime. The

[2022-03-12 17:21] mmsaw commented on #3389
JST

[2022-03-12 20:03] #179 closed, assigned to nobody

[2022-03-12 21:17] mnaamani commented on #2360
I believe this has been resolved in newer versions of cli.

[2022-03-12 21:17] #2360 closed, assigned to mnaamani

[2022-03-12 21:18] mnaamani commented on #2517
This was resolved in newer version of cli

[2022-03-12 21:18] #2517 closed, assigned to nobody

[2022-03-12 21:23] mnaamani commented on #2388
We now store video title in protobuf metadata so I think this issue is resolved in new runtime.

[2022-03-12 21:23] #2388 closed, assigned to Lezek123

[2022-03-13 03:22] mochet opened #3398 "Question: Can user_a give user_b tokens which are locked for certain purposes?"
On mainnet, it would be very good to be able to give users tokens that are locked and cannot be used for any purpose other than paying fees, staking and basically cannot be transferred by the user to anyone else. I assume this isn't yet possible, but maybe it is so I am asking if it is?

To be clear, this would be for user>user transactions. `Alice` would send `Bob` tokens and tick some box which

[2022-03-14 01:37] mochet opened #3400 "Questions: governance and the transition to mainnet"
`olympia` and `incentives v3` are launching soon. I do not want to confuse or complicate those, so this is `entirely separate`. The initiative I'm working on is still a WIP but some critical `mainnet` questions have come up and there's never going to be a better time to ask them--the questions are placed first.

### Questions
I realize that it may be a little too early to give definitive answers o

[2022-03-14 07:46] dobertRowneySr commented on #3365
NFT on rhodes are already enabled :smiley:
I blocked nft issuing *after* `rhodes` was branched off olympia, I guess...

[2022-03-14 08:15] bwhm commented on #3389
It's hard to top that on in terms of how if sounds. Should work well wrt to fees as well.

[2022-03-14 09:18] bwhm opened #3401 "Olympia: Query node showing incorrect WG budgets"
Unclear why, but this query:

[code]

gives very different results depending on the staging network.

I'd assume it should show the same as `*WorkingGroup.budget`, but that has only been the case for only one of the four we've had running...

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201709380879215/1201962542974506) by [Unito](https://www.unito.io)

[2022-03-14 09:37] mnaamani commented on #3188
Address by @ondratra in playground fix with updated version of hydra.

[2022-03-14 09:37] #3188 closed, assigned to Lezek123

[2022-03-14 09:39] mnaamani commented on #3354
Implemented in https://github.com/Joystream/joystream/pull/3361

[2022-03-14 09:39] #3354 closed, assigned to Lezek123

[2022-03-14 09:42] #3207 closed, assigned to mnaamani

[2022-03-14 09:45] mnaamani commented on #3357
Fixed in https://github.com/Joystream/joystream/pull/3363

[2022-03-14 09:45] #3357 closed, assigned to shamil-gadelshin

[2022-03-14 10:01] shamil-gadelshin commented on #2816
Do we use existing member invitation infrastructure or we need to create a third way to introduce a member (assuming 'buying the membership' is a second way)?

This the only step that requires the runtime changes, correct?

We will introduce an extrinsic in the content pallet with ownership transfer and reward account change.

Does it require the runtime change?

Does it mean that we need creating

[2022-03-14 10:10] bedeho commented on #2816
So you should actually just disregard everything except the channel swap, I only described this part as a motivation for the feature. But to just answer the question: we would use what we already have.

Correct, however, you dont need to do anything with reward accounts, because those will be changed to module accounts imminently, to unlock creator tokens. However, one thing that you probably also

[2022-03-14 10:31] shamil-gadelshin commented on #2816
Collaborators were implemented but how would we keep `infra` as a collaborator then? We could introduce a boolean flag to erase collaborators conditionally though.

Should we erase `moderators` and `cumulative_payout_earned` as well?
Here is the full struct:
[code]

Implementation detail - I'm going to introduce a `ownership_confirmed` field in the `ChannelRecord` and I will prohibit most operatio

[2022-03-14 10:52] bedeho commented on #2816
Ah yes, ok, lol - forgot about the original use case now. So cleanest is then to bundle it in with the transfer offer, so that the new owner is accepting it transparently as part of the deal.

Yes we can, this is going away, but until it is, this is the correct approach.

Def. not.

- Great observation on the blocking, I agree blocking most owner actions make sense, possibly all, except cancelling

[2022-03-14 10:59] Lezek123 commented on #3401
Looks like there are 2 root-origin calls that modify the working group budget:
- `set_budget` in `working-group` pallet, which doesn't enforce any limits and emits `BudgetSet` event
- `update_working_group_budget` in `utility` pallet, which is spending from `Council` budget and emits `UpdatedWorkingGroupBudget` event

Looks like the 1st call is meant to be only executed by sudo, while the 2nd call

[2022-03-14 11:00] OIgnt commented on #3389
Yeah, nJOY sounds really cool from different points of view :)

[2022-03-14 11:43] traumschule opened #3402 "CLI enhancement: Show worker id when hiring"
Creating this as a new issue because #276 is too busy already.

When hiring a worker the final confirmation should show the worker id. This will help leads with further actions without having to `working-groups:overview`.

There are other possible improvements like
- `next_payment_at_block`: default to current block
- `payout_interval`: default to 600 for `
- The `Do you want to provide the option

[2022-03-14 16:22] bedeho commented on #2928
- XCM Workshop: https://www.shawntabrizi.com/xcm-workshop/#/

[2022-03-14 16:22] bedeho commented on #2925
- XCM Workshop: https://www.shawntabrizi.com/xcm-workshop/#/

[2022-03-14 16:22] bedeho commented on #2401
- XCM Workshop: https://www.shawntabrizi.com/xcm-workshop/#/

[2022-03-14 17:30] bedeho commented on #3382
After looking closer at XCM, it seems to me that we are better off just implementing our own fungible token inside of the `project_token` pallet, because

- It's trivial: the core business logic implemented by an off the shelf pallet is just a map, existential deposit limits and a handful of extrinsics for issuing, transfers & burning.
- We are unlikely to find the right extra features (staking, w

[2022-03-14 18:15] kdembler commented on #3389
Really like this idea, although it will force us to modify the token denomination, which we originally planned to be `10,000,000,000 (ten Billion)`, same as Polkadot. `nJOY` would force us to change that to `1,000,000,000 (one Billion)`, since that's what the `nano` prefix stands for. Maybe not a big issue, although we may need to re-run calculations to make sure this works.

[2022-03-15 01:41] mochet opened #3404 "Bounty Module: Bugs"
(this is for @bwhm)

This issue is best explained with the following `Pioneer` screenshot, but it is not a `Pioneer` issue.
I will include a technical explanation after this brief intro--this just shows the problems in the easiest way.
I don't know if these bugs are already known, it is hard to search for something specific like this.

## Screenshot + Explanation
![image](https://user-images.githu

[2022-03-15 08:39] Lezek123 commented on #3331
Looks like in case of `Option<Bytes>` you need to provide a valid hex along with length encoding ie. `console.log(util.u8aToHex(api.createType('Bytes', 'text').toU8a(false)))` (this can be pasted in https://polkadot.js.org/apps/#/js), this may be a limitation/bug of `polkadot/apps` interface.

I encourage you to use https://github.com/polkadot-js/apps/pull/7134 for testing, I try to keep this draf

[2022-03-15 08:57] mochet commented on #3400
Another question:
* Will social tokens transfer to `mainnet`? Obviously the value cannot, but does it sound feasible or realistic for the distribution of these to do so?

[2022-03-15 09:46] bedeho opened #3409 "Upgrade audit branch to include Olympia work"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1201970121344994) by [Unito](https://www.unito.io)

[2022-03-15 09:48] #2902 closed, assigned to nobody

[2022-03-15 10:08] bedeho commented on #3387
Fixed.

[2022-03-15 10:08] #3387 closed, assigned to Lezek123

[2022-03-15 10:17] bedeho opened #3410 "Apply linter to benchmarking code"
ssa.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1201970172592252) by [Unito](https://www.unito.io)

[2022-03-15 10:34] bedeho opened #3412 "Refactor try_mutating_storage_state"
Attempt to separate the different variatins of mutation in `storage::try_mutating_storage_state`

https://github.com/Joystream/joystream/blob/63dcc503cc866e8ba7459da8cf9e8e2fe634f3df/runtime-modules/storage/src/lib.rs#L3740

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202207047056762) by [Unito](https://www.unito.io)

[2022-03-15 10:51] bedeho opened #3413 "Introduce disticnt return types for storage pallet API methods"
Probably depends on https://github.com/Joystream/joystream/issues/3412.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202207148127807) by [Unito](https://www.unito.io)

[2022-03-15 10:53] #2919 closed, assigned to dobertRowneySr

[2022-03-15 12:14] #3315 closed, assigned to dobertRowneySr

[2022-03-15 12:32] bedeho opened #3414 "Invitation system sanity check"
# Background
Currently, the primary means by which a new member can get onboarded, without having to find some place to purchase $JOY, is the invitation system, which results in crediting them some diminimous amount of $JOY encumbered by a lock which prevents transfers, except for fees. At the same time, there are a range of features which requires one among the following:

1. paying transaction f

[2022-03-15 13:44] traumschule commented on #2426
If lead fails to check their own actions worst can happen is emptying their mint fast and they have to ask for refill. Then it's council;s job to verify amount, frequency and possibly worker rewards. Maybe even workers have an interest to compare each other's salary.

Since AFAIK also pioneer2 (sadly) will not offer an UI for that and the CLI (sadly) does not show current reward just tokens earned

[2022-03-15 16:06] bedeho commented on #3398
It means that you cannot transfer the funds to another account basically, so you cant fund a bounty, or buy an NFT, or tip a creator or any kind of thing like that. This question did however made me think we probably need to make an explicit list, if only to make sure it makes sense, but also so people understand what they will and will not be able to do.

https://github.com/Joystream/joystream/is

[2022-03-15 16:07] kdembler opened #3417 "Requirements for playlists from Atlas perspective"
Some quick analysis of playlists design and features we would like to implement for Atlas:

**Playlist input**
Data that will be provided when creating a playlist:
- Associated channel
- Title
- Description
- Visibility (public/unlisted, same as for videos)
- List of videos that should be included (all from a single channel) in a specific order
- Optional custom thumbnail - this is a bit more comp

[2022-03-15 16:21] mnaamani commented on #3384
I don't see it as a huge obstacle really. It is possible to have the deployment build and configure those apps (from a particualr branch or commit) to point at the running playground. However the playground is normally being tested through those applications and iteration is being done on them as bugs are found. It seems impractical to restart a playground and loose state as the apps are being dev

[2022-03-15 17:21] bedeho opened #3419 "Carthage genesis block"
# Background

We are launching `Carthage` which will be a new chain, with a genesis block and launch process as close as possible to the mainnet launch. This issue defines how we set the state of the genesis block.

# Proposal

The genesis block only initialised a set of _account balances_, with possible associated vesting, nothing else, and they are set as follows:

| Stakeholder         | Multis

[2022-03-15 18:27] shamil-gadelshin opened #3420 "Runtime: fix invalid storage access code in the content pallet."
The content pallet contains invalid storage access code:

[code]

This code could lead to the default object creation by the Substrate Framework. We need to use `ensure_*` methods instead with explicit errors on absent objects and add related tests. We have such code in multiple extrinsics, mostly related to comments/reactions on videos and channels.

┆Issue is synchronized with this [Asana task](

[2022-03-15 19:52] kdembler commented on #3322
@zeeshanakram3 Here are some maybe-not-so-obvious requirements from Atlas:

### Querying

#### Comments list

- We would like to get a paginated list of only top-level comments made under a specific video with a single query
- We would like to sort those comments by newest/oldest but also by most popular (having most reactions, sum of all reactions, doesn't matter which ones)
- We would like to ge

[2022-03-16 07:09] mnaamani commented on #3036
also https://github.com/Joystream/joystream/issues/3035#issuecomment-1027639018

[2022-03-16 08:18] mochet commented on #3398
Completely rewritten:

## Scope
The scope here is strictly `social users`. These are users of `social features` on Joystream that will always require `fees` (video uploads, channel creation, forum threads/posts/reactions and video comments etc).

## Problem
1. It is unknown whether `user_a` can send `user_b` tokens which are locked, with the intention of being able to send certain users tokens tha

[2022-03-16 08:29] kdembler commented on #3322
Additional open questions:

How can we handle notifications for comments and reactions. Traditionally those would be handled using queries for low-level blockchain events. Since comments and reactions are a metaprotocol-only feature, those events are not emitted by the blockchain. Maybe query node can simulate those events using metaprotocol messages? Not sure

[2022-03-16 10:23] bedeho opened #3422 "Convention: Fallible cross pallet calls"
# Background

Lets say we are in pallet `A` which calls method `do_with_side_effect -> Result<_,_>` in `B`, for example a FRAME pallet like `balances` or a subsystem pallet like `storage`. Often it will look like this

[code]

This is fine, but often the next person will not know or remember that `do_with_side_effect` actually has side_effects 😱 , because it can easily just look like a normal ensu

[2022-03-16 10:24] bedeho opened #3423 "Review cross pallet calls"
Apply whatever best practice comes out of this discussion https://github.com/Joystream/joystream/issues/3422.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202171819134217) by [Unito](https://www.unito.io)

[2022-03-16 10:38] kdembler opened #3424 "NFT query node - issuing an NFT during video update not captured"
Some time ago runtime added support for issuing an NFT as part of `update_video`. This is currently not handled by the query node, resulting in inconsistent state

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1201976840099271) by [Unito](https://www.unito.io)

[2022-03-16 10:43] #3365 closed, assigned to dobertRowneySr

[2022-03-16 10:50] kdembler opened #3426 "NFT query node - royalties not working"
As discovered few days ago, setting an NFT royalty will break a query node. We have a hotfix here #3407 but we need a full fix.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1201976939841732) by [Unito](https://www.unito.io)

[2022-03-16 11:08] ondratra commented on #3426
There is support for setting royalty in existing `network-tests`, but it is not actually used in any fixture. Fix the bug in mappings + select one of the fixtures, set royalty there and ensure tests are still passing (thus, mappings for royalty work).

[2022-03-16 12:14] ondratra commented on #3381
I've run the query on what I believe is the current Atlas playground https://52.91.200.121.nip.io/query-node/server/graphql and got an empty result for the query. Is that the same result you are getting @kdembler, or is the query crashing with an error?

[2022-03-16 12:18] kdembler commented on #3381
This isn't the current playground and it doesn't have any NFTs, that's why it's empty. The newest one is https://54.196.132.14.nip.io/orion/graphql . Although you will have to remove the filter from the query since that member doesn't exist. It crashes then, not returns empty results

[2022-03-16 12:30] bedeho opened #3428 "Reevaluate what parts of a channel must be frozen while in flight."
# Background
Initial work was done here

https://github.com/Joystream/joystream/pull/3432

where the following actions are blocked in flight

* update_channel_censorship_status
* update_channel
* create_video
* update_video
* delete_video
* edit_post_text
* delete_post
* update_moderator_set
* claim_channel_reward

while at least the following are not

* update_video_censorship_status
* create_pos

[2022-03-16 12:43] bedeho opened #3429 "Nft bid reservations vs module account"
# Background
Currently we are using reservations as the means to encumber bid funds, but this is the only place in our runtime, and it is less clear how they work compared to just having a simple built in module account, for example when thinking about the ability to do multiple reservations and reservations on the same account for distinct bids.

# Proposal
Review whether it would make the code s

[2022-03-16 13:23] bedeho opened #3431 "Make faucet work with NFTs"
At least while on testnets, faucet needs to provide startup funds in a way that allows you to actually bid on and buy NFTs, currently this may not be working properly. Check this after this has been finalized in the NFT implementation. Importantly, make sure whatever they are given works with the hard coded minimum bid/buy now constraints in the chain.

┆Issue is synchronized with this [Asana task

[2022-03-16 14:15] shamil-gadelshin opened #3433 "Runtime: add 'pending transfer' checks to the extrinsics in the content pallet."
We need to add checks that will cancel extrinsics in the content pallet for the channels with pending transfers.

#### Recommended list of extrinsics to modify
* start_nft_auction
* cancel_nft_auction
* cancel_offer
* cancel_buy_now
* make_bid
* cancel_open_auction_bid
* claim_won_english_auction
* pick_open_auction_winner
* offer_nft
* sling_nft_back
* accept_incoming_offer
* sell_nft
* buy_nft
*

[2022-03-16 14:40] mochet commented on #3419
This issue contains quite a few questions that are very relevant to the genesis block also: https://github.com/Joystream/joystream/issues/3400

[2022-03-16 16:21] zeeshanakram3 commented on #3322
Do you mean storing blockchain events in QN state? as prior to metaprotocol events, there has been a query node entity for each blockchain event.

If yes, I have simulated the same for metaprotocol events as well. For example, if `MemberRemarked` event contains `CreatComment` message, then its info would be saved in the `CommentCreatedEvent` entity in the QN state.

[2022-03-16 16:25] kdembler commented on #3322
Yes, that's what I meant, great to know 💯

[2022-03-16 17:17] bedeho opened #3435 "Constrained worker spending"
# Background

Currently, only the lead can spend out of the WG budgets, but this is very inflexible, workers may very well benefit from this sort of discretion. One example is curators spending on channel swaps, or for example workers funding bounties.

# Proposal

For each worker (hence also lead), introduce a field `spending_constraint` s.t.

[code]

which can be set to some value when the

1. w

[2022-03-16 17:47] bedeho opened #3436 "Channel agent permissions"
# Background
We already have collaborators, which always did seem to require more permissions than we started with, but we also have curators, and it as the value of a channel is getting quite high now (videos, nfts, creator tokens, channel treasurie), it's becoming more important to allow some control on what someone can and cannot do. This became very clear now that you can even swap an entire c

[2022-03-16 17:47] bedeho opened #3437 "Add payment swap logic to channel transfer feature"
# Background
[Original issue](https://github.com/Joystream/joystream/issues/2816)

Initial work was done here https://github.com/Joystream/joystream/pull/3432, but did not include a payment based swap as part of logic, while state was added (`ChannelTransferStatus::PendingTransfer::price`).

# Proposal
When  a non-zero price is set, then accepting the transfer attempt requires that the new `channe

[2022-03-16 17:49] #3295 closed, assigned to shamil-gadelshin

[2022-03-16 18:20] mochet commented on #751
irrelevant now, so closing

[2022-03-16 18:20] #751 closed, assigned to nobody

[2022-03-16 23:13] bedeho commented on #3433
Duplicates https://github.com/Joystream/joystream/issues/3428

[2022-03-16 23:13] #3433 closed, assigned to nobody

[2022-03-17 05:36] mnaamani commented on #3330
I propose we use conditional compilation using [cargo features](https://doc.rust-lang.org/cargo/reference/features.html) to define 3 sets of runtime configurations/parameters to cater for different environments:

`Production` for production live network (default if no explicit selection is made)
`Staging` for pre-release staging networks and playgrounds
`Testing` for running automated integration

[2022-03-17 06:18] mnaamani commented on #3330
what do you think @shamil-gadelshin about this approach ?

[2022-03-17 07:25] shamil-gadelshin commented on #3330
It could work!

If we choose this approach we should implement 'mutual exclusive feature barrier': https://doc.rust-lang.org/cargo/reference/features.html#mutually-exclusive-features

There is a very close alternative: to use environment variable flags only to choose which `constant.rs` file to use (DEV, TEST, etc) to avoid feature clash.

Also, we should run checks&tests for each configuration th

[2022-03-17 07:53] bedeho commented on #3330
FYI: Whatever scheme we pick, I hope it will be very light weight to add/remove constants, because I suspect many values which currently are constants will actually become storage variables that will be updatable with proposals. Allowing people to easily provide initial values when launching a playground for such configurable storage values would arguably be just as important.

[2022-03-17 08:18] mnaamani commented on #3330
It is farily light weight to add remove constants, you just have to remember to do it in 3 files. I think if we decide to have more than 3 environments we might want to consider an alternative way by introducing a macro .. for example `expand_for_build_env!(...)`

[code]

But it becomes hard to read and you always have to remember order.

For parameters that are in storage and initialized at genes

[2022-03-17 09:18] traumschule commented on #2595
Good idea except for the unfortunate ([re](https://github.com/Joystream/joystream/commit/95137935502b138514dc582dbc55d68149d3cb2b))[naming](https://github.com/Joystream/joystream/blob/master/runtime-modules/common/src/working_group.rs) and ripple effects (#3198 https://github.com/Joystream/pioneer/issues/2502 https://github.com/Joystream/pioneer/commit/8e51d81d465401afe0a4b4af8eafdddb9284cc58 etc.

[2022-03-17 10:41] #3285 closed, assigned to dobertRowneySr

[2022-03-17 10:56] traumschule commented on #3359
- are you able to make requests to the QN playground while this happens or does it appear as offline?
- are you saying no blocks are produced? does the validator log show anything unusual?

[2022-03-17 12:59] dobertRowneySr commented on #3382
Project Token Design
====================

### Table of Contents

1.  [Intro](#org42174e9)
    1.  [Notation](#org429b3ba)
    2.  [Document organization](#org08ac29e)
2.  [File structure `src/`](#org77c9a4e)
    1.  [`trait.rs`](#org0dd5440)
    2.  [`types.rs`](#org91a77bc)
    3.  [`tests`](#org76198a3)
        1.  [`mod.rs`](#org50c6ff0)
        2.  [`mock.rs`](#org272df0e)
        3.  [`patro

[2022-03-17 13:50] bedeho commented on #3398
My takeway here is you want some way to perpetually, and as needed, give users the ability to have certain kinds of social feature financed, but only for using platform social features.

So the premise here is that there are quality people who we want to make it very easy to continue to publish. Can't we just use the creator payout system for that? Here everyone with a channel gets some amount of

[2022-03-17 18:14] L3pereira opened #3446 "When a bounty succeeds, removing all BountyContributions by the last worker can be expensive."
When a bounty succeeds and there are  funds to be withdrawn by the workers, the last worker will call ```remove_bounty```
https://github.com/Joystream/joystream/blob/1c37a713511cfaf35b9577069f78827492324f2c/runtime-modules/bounty/src/lib.rs#L1243
the problem here is, inside ```remove_bounty``` an instruction tries to delete all BountyContributions entries related to a bounty id, this can be O(N) e

[2022-03-17 18:43] L3pereira opened #3447 "Bounty blocked by T::MinFundingLimit in funding period"
When a bounty is in funding stage and the funding period ends by eg. target reached, a funder is limited by ```T::MinFundingLimit::get()```, this can block the bounty in funding period.
https://github.com/Joystream/joystream/blob/1c37a713511cfaf35b9577069f78827492324f2c/runtime-modules/bounty/src/lib.rs#L859

This test shows that a bounty can be locked, if a funder contributes with 4951, no other

[2022-03-17 21:44] bedeho commented on #3447
I don't think this is a big problem, I suggest we don't do anything about this.

[2022-03-18 08:33] dobertRowneySr commented on #3422
Here one elaborate solution that  guarantees that :
- statically `can-*` guards precede `do-*` mutation functions
- Multiple `can-*` guards can be serialized before any `do-*` operations take effects.

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=99b9a67a0bcbe6244092c616f28e7963)

Example from the Multicurrency token pallet required for the creator toke

[2022-03-18 08:58] L3pereira commented on #3447
Okay, I just want to mention, that when a bounty has a funding period that is perpetual (it is necessary to reach a specific fund target), the funder will lose the amount of 4951.
If the funding period is limited, that is, a minimum of funds must be reached before a specific time, the bounty goes to "failed state". Then the funder will have an incentive to finance the bounty in order to block it,

[2022-03-18 09:16] bedeho commented on #3447
This was a phenomenal observation, you changed my mind :)

So can you outline a few alternative fixes?

[2022-03-18 09:30] shamil-gadelshin commented on #3422
One of the fundamental issues we have is whether we should silent errors in `do-` methods.

In general, we can't avoid fallible method calls of the Substrate framework like `Balances::transfer`. If we choose to create infallible methods we implicitly choose silenting errors in the unknown set of third party methods. The clarity of the pallet's interface comes with a huge downside of possible *sile

[2022-03-18 12:09] bedeho opened #3450 "Audit 3 Debt Tracking Issue"
# Background
We are doing important changes in the runtime, and other teams will need to have visibility into these changes as early as possible, in order to plan work and start reviewing relevant changes. For this purpose I am trying to here track the full set of changes which have actually been merged in to the audit branch `audit-3`, with a brief description.

**Remember that each change can ha

[2022-03-18 13:27] L3pereira commented on #3447
Why a minimum funding amount?
I think validating for zero is enough.

All contributions a funder does, are added into one entry in the BountyContributions storage.
Is not that if a funder makes 1000 contributions of 1 unit, you will have 1000 entries in storage, what you will have is 1 entry with 1000 units

The only reason I see this validation being useful is for restraining a funder to make a f

[2022-03-18 14:08] bedeho commented on #3447
I think we needed this before to prevent state bloat attack where some makes a large number of 0 contributions under different memberships. But now, we will have a separate fee for this anyway, which is effectively a minimum barrier, however, this fee does not consume the funding cap, which solves the problem.

[2022-03-18 15:15] L3pereira commented on #3447
You cannot contribute with 0, there is also a ```amount > Zero::zero()``` validation, but certainly, you can have a large number of, for example, 1Joy contributions under different memberships.
total
I think we can fix it this way:
Imagine
```max funding```  = 1000,
```MinFundingLimit``` = 100
We can have the validation in such a way, that if ```total funding``` is in the range of
```]max funding

[2022-03-18 15:40] bwhm opened #3451 "Olympia Runtime Params"
Unless noted otherwise, all changes from `runtime/src/lib.rs`

## Proposals General
[file](runtime/src/proposals_configuration/defaults.rs)
| proposalType                                  | voting_period        | grace_period          | appr_q% | appr_t% | slash_q% | slash_t% | required_stake           | const |
|-----------------------------------------------|----------------------|--------------

[2022-03-18 16:29] bwhm opened #3453 "Olympia: Query node bug"
A bounty was created by a tester (using polkadot-js):

[code]

The transaction was accepted, but the processor, built from [2d51001](https://github.com/Joystream/joystream/commit/2d510011691cbd2220dd6b02db8f2df1ae9ff7a5), crashed with:

    INFO: There are already processed blocks in the database. The indexer will continue from block 96520.
    INFO: Last block: 96519 	: 4993 blocks behind
    INF

[2022-03-18 18:41] bedeho commented on #3447
I think its needlessly complicated, `MinFundingLimit` is not needed. Just require that they have to provide > `StateBloatBond`, so basically greater or equal to `StateBloat + 1`, and in this case only `1` is contributed as funding, which is fine.

This way we don't even need `MinFundingLimit`, and we avoid complex edge case limit enforcement.

[2022-03-18 20:49] dobertRowneySr commented on #3382
Addendum:
- The ordering of the various Traits/Interface in the API section should be an adequate layout for the timeline
- The conversion from `org` file to `markdown` might have changed some `>=` into `>`.  So all `>` are meant to be greater or equal
- Sale functionality implementation details are still vague, so that will need to be updated

[2022-03-19 09:25] traumschule opened #3457 "Giza: QN processor crash on delete distribution bucket"
Missing runtime/processor checks when deleting distribution buckets.

Deleted distribution buckets and changes weren't reflected on https://joystreamstats.live/distribution
[code]
processor crashed:
[code]
Noticed because contributors [failed to upload videos](https://discord.com/channels/811216481340751934/859752198166282280/954375219848568913).

QN:
- https://hydra.joystream.org/graphql
- https:

[2022-03-19 17:25] mnaamani commented on #3457
Investigating..

The runtime only successfully removes the distribution bucket as long as  no bags and no distributors are assigned to the bucket. So the query-node is not explicitly removing distributors on handling the `DistributionBucketDeleted` event. But clearly from error above there are still distributors referencing the bucket this the query-node is attempting to remove. Will check the imp

[2022-03-19 17:36] mnaamani commented on #3457
The distributiron operator that is still in the database is:

[code]

The handler for `DistributionBucketOperatorRemoved` does try to delete the operator. It is not clear if there was ever an event for this operator. Is the fact that the status of this operator is still set to `Invited` significant.. ? Will continue to investigate.

[2022-03-19 17:44] traumschule commented on #3457
Hint: the worker was [fired in block #4908750](https://pioneer.joystreamstats.live/#/explorer/query/4908750).

[2022-03-19 17:57] mnaamani commented on #3457
What I can see is that the operator also did not accept the invitation. Can you confirm that?

The runtime allows the bucket to be deleted, it checks only if there are "active" operators, ignoring any invited operators. The query-node mappings do not take this into account. So The fix as far as I can tell is the handler for `DistributionBucketDeleted` should look at the 'pernding_invitations' oper

[2022-03-19 18:02] mnaamani commented on #3457
Interesting, as far as I can see from the handler for workers being terminated, it does not update the "operator" state. I have to investigate if there is any integration between working group and storage pallets at the runtime level when it comes to handling worker terminations. But I think the fix in previous comment is the correct fix.

[2022-03-19 18:09] traumschule commented on #3457
That seems to be right, could not find `DistributionBucketInvitationAccepted` for worker 14 in my local events cache.
Inviation: https://pioneer.joystreamstats.live/#/explorer/query/4510284

[2022-03-19 18:40] mnaamani commented on #3457
I prepared a fix https://github.com/Joystream/joystream/pull/3458 can you test on your node @traumschule

[2022-03-19 18:48] mnaamani commented on #3457
I suggest you cherry-pick the fix only or you will need to restart processor to process from starting block.

[2022-03-19 18:58] bedeho commented on #3457
Can we have a TLDR on this?

[2022-03-19 19:01] mnaamani commented on #3457
I just deployed to live network.

[2022-03-19 19:21] mnaamani commented on #3457
A distribution bucket struct:
[code]

The query node maintains a table of distribution operators and their invitation status. As invites are made to new operators query-nod handles `DistributionBucketOperatorInvited` and adds an operator with a reference to the bucket. On the runtime the invitation for the operator is stored in the pending_invitations set.

Currently the only way the invited opera

[2022-03-19 19:28] mnaamani commented on #3457
The fix was done on the Query-Node
Another solution would have been to at runtime level: emit one `DistributionBucketInvitationCancelled`  for each pending invite?

[2022-03-19 20:15] traumschule commented on #3457
[works](https://discord.com/channels/811216481340751934/859752198166282280/954834805730738317)! also tried to rebase but

[code]

[2022-03-19 20:15] #3457 closed, assigned to ondratra

[2022-03-19 21:11] mnaamani commented on #3457
Yes that last error is because latest query-node on master has a new schema, so you would need to drop the processor database, and re-run the db:prepare and db:migrate scripts, then start processor which would start again at initial block for giza.

[2022-03-20 19:38] ondratra opened #3461 "Query node - ensure all Promises are resolved"
When a developer mistakenly omits `await` keyword where `Promise` is expected to be resolved, a bug that's not easy to spot can occur.

    // assume we have some db adapter and next id generator
    const db = ...
    const getNextId: () => number = ...

    async function save(objectToBeSaved: {name: string}) {
      objectToBeSaved.id = nextId()
      await db.save(objectTobeSaved)
    }

    c

[2022-03-20 20:22] #3453 closed, assigned to thesan

[2022-03-21 08:48] Lezek123 commented on #3401
Fixed by https://github.com/Joystream/joystream/pull/3403

[2022-03-21 08:48] #3401 closed, assigned to Lezek123

[2022-03-21 08:50] Lezek123 commented on #3224
Done as part of https://github.com/Joystream/joystream/pull/3239
Note that no `sudoAs` is actually needed when buying a membership, as there doesn't need to be any relation between the sender and member controller/root account

[2022-03-21 08:50] #3224 closed, assigned to Lezek123

[2022-03-21 08:51] Lezek123 commented on #3181
Done in https://github.com/Joystream/joystream/pull/3239

[2022-03-21 08:51] #3181 closed, assigned to Lezek123

[2022-03-21 08:54] L3pereira commented on #3447
What do you mean with ```StateBloatBond```?

[2022-03-21 09:35] #3372 closed, assigned to dobertRowneySr

[2022-03-21 09:47] #3409 closed, assigned to shamil-gadelshin

[2022-03-21 12:26] L3pereira commented on #3447
A funder can be a member or the council, Should a council have to stake a StateBloatBond in the same way as a member?
He is only one entity and it will represent only one entry in the BountyContibutions storage.

[2022-03-21 12:29] zeeshanakram3 opened #3463 "Metaprotocol playlists - features"
This issues lists protobuf/graphql schemas, and validations on Playlists actions based on requirements in #3417

## Protobuf Message Schemas
[code]
## Graphql Schemas
Excluding the event entities
[code]

# Playlists Actions
## Create Playlist
#### Protobuf message
`CreatePlaylist`
#### Event
`ChannelOwnerRemarked`
#### Validations
- _Ensure videos exist_
- _Ensure channel owns the videos_

## Upda

[2022-03-21 12:33] bedeho commented on #3447
Treat all funders the same.

[2022-03-21 14:10] bedeho commented on #3380
At the risk of going in circles on this topic:

Perhaps we need to be a bit more nuanced here.

- Unconditional prevention of asset deletion for issued NFTs makes a ton of sense for when we are talking about the issuer, they have to be constrained post-issuance.
- Unconditional prevention of moderators makes much less sense, because now we have the old problem of issuing an NFT becoming an attack

[2022-03-21 14:17] mochet commented on #3380
I think the teleported part is important, as well as the fact the record of the NFT having been created will also remain (which effectively allows for recreation of an NFT in some way).

Deleting the NFT itself seems pointless in light of these 2 factors.

[2022-03-21 17:06] bedeho commented on #3084
We need to discuss this and come up with an overall conclusion, but my current assumption is that the world would be much simpler for the query node mapping author if there were no events in utilty modules (i.e. modules only invoked inside the runtime), and instead have much richer events in the relevant subsystem (council, content, membership, etc.), where the relevance of a dataobjects is direct

[2022-03-21 17:47] bedeho commented on #3379
Fixed.

[2022-03-21 17:47] #3379 closed, assigned to nobody

[2022-03-21 18:34] bedeho commented on #3413
Symptom https://github.com/Joystream/joystream/pull/3454#discussion_r831387994

[2022-03-21 21:23] bedeho commented on #3463
Overall looks very solid, I'll leave @kdembler to verify further details, here are my thoughts:

1. `CreatePlaylist` seems to not allow creating a playlist with more than one video to begin with?
2. `UpdatePlaylist` seems overly complex in terms specifying changes, can't you just accept a new list that overwrites the existing one wholesale? thats the simplest most straight forward format.
3. Remem

[2022-03-22 05:52] mnaamani commented on #3330
Implemented in https://github.com/Joystream/joystream/pull/3462

[2022-03-22 05:57] mnaamani commented on #3451
Updated parameters in https://github.com/Joystream/joystream/pull/3462

Also set council params to match Giza network values
[code]

[2022-03-22 07:13] dobertRowneySr commented on #2362
Suppose AMM state.
Then when a user wants to bond JOYs in exchange for CRT then he must also provide his CRT account with a merkle proof, since
in case of permissioned transfer verification is required.
Correct?

[2022-03-22 07:18] bedeho commented on #2362
If the transferrabiliy policy is permissioned, then yes, also buying $CRT from AMM requires that destination account is whitelisted, and if it's not, then a Merkleproof must be provided to prove whitelisting. If the account already is on the whitelist, or if the policy is permissionless, then this is not needed.

[2022-03-22 07:27] dobertRowneySr commented on #2362
So how this means that the user is supposed to know on what transfer policy (permissioned || permissionless) is CRT in?

[2022-03-22 07:29] bedeho commented on #2362
Well, the apps will basically tell them this, but yes.

[2022-03-22 10:32] zeeshanakram3 commented on #3463
That was a typo, I have updated the schema.

Yes, accepting a new list that overrides the existing one definitely seems a simpler solution, will go with this.

Yes there is one global id space based `network`, `blockNumber` & `indexInBlock`.  Since Metaprotocol entities, i.e. _playlists, comments, reactions_, etc. don't have runtime existence (only exist in QN), there needs a way to assign a uniqu

[2022-03-22 11:23] bedeho opened #3468 "Verify QN mappings can handle deletions in content directory"
Covers at least

* channels
* videos
* curator groups

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202005219340394) by [Unito](https://www.unito.io)

[2022-03-22 11:43] #3314 closed, assigned to zeeshanakram3

[2022-03-22 12:26] dobertRowneySr commented on #2362
It is not 100% how the sale feature should behave when:
- A sale can have a optional cliff + linear vesting
- User can purchase up to `max(fund_available, whitelist_cap)`

This would mean that a user can choose to receive a certain amount `x` per block until sale ends or purchase `max(fund_available, whitelist_cap)` ?

[2022-03-22 12:38] dobertRowneySr commented on #2362
Since if :arrow_up:  is the case, Then if the sale is for  `L = 1M` CRT and it lasts `d = 1000` blocks.
Suppose `m = 10` participants, this in principle would mean that each participant is entitled to `x=100` tokens each block.
However suppose that the sale does not start immediately and the first participant has max cap of `1000`.
He buys immediately his share.
Then the sale must be updated `L =

[2022-03-22 12:47] zeeshanakram3 opened #3469 "Importing from query-not into tests/network-test bug"
Defining some constant/data such as `export const PERBILL_ONE_PERCENT = 10_000_000` in `query-node/mappings/src/common.ts` or `query-node/mappings/src/content/utils.ts`, and then importing it in `tests/network-tests` results in following error while running tests using `./query-node/run-tests.sh`

[code]

However, there is no such error if we define our const in some new file `query-node/mappings/

[2022-03-22 13:28] bedeho commented on #2362
Not he cap applies for the full sale, so if account `A` makes a purchase, it must be less than the cap, and they cannot do another purchase for the same sale. In order to enforce this, we would require that their purchase is represented in storage state until end of sale, and then they have to cash out proactively, since we cannot automate this, given that there will be an unlimited number of buye

[2022-03-22 13:36] bedeho opened #3470 "Add owner to NFT events"
# Background
Problem 1 and 2 here: https://github.com/Joystream/atlas/issues/1740#issuecomment-1069362536

# Proposal
Add two nullable owner fields to all NFT related events in order to make filtering feasible.

* `member_owner: Member`
* `curator_group_owner: CuratorGroup`

These refers to whomever is the owner _at the time of the event_. This is a flattened version of ownership, as we can't do r

[2022-03-22 13:39] bedeho opened #3471 "QN: Add bid being displaced to English auction NFT event"
# Background
From https://github.com/Joystream/atlas/issues/1740#

[code]

# Proposal
Add bid possibly being displaced in an English auction bid, use new event coming from this runtime change: https://github.com/Joystream/joystream/issues/3472

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202006242597736) by [Unito](https://www.unito.io)

[2022-03-22 13:41] bedeho opened #3472 "Runtime: Add bid being displaced to English auction NFT event"
# Background
https://github.com/Joystream/joystream/issues/3471

# Proposal
Add bid possibly being displaced in an English auction bid, in content pallet of runtime.

Use and target `Rhodes` branch

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202006250278703) by [Unito](https://www.unito.io)

[2022-03-22 14:01] bedeho commented on #3431
We decided on the lats Rhodes call that
- We should make the faucet capable of providing more initial $tJOY than the invitation limit, because otherwise they cannot bid on NFTs, as the invitation lock prevents this.
- The faucet should have some sort of automated alert and daily cap in case abuse starts happening. If abuse occurs, we can reduce the faucet reward to be at or below the invitation lo

[2022-03-22 14:04] bedeho commented on #2362
# Discussion Summary

Here is a quick summary of our DM discussion

- all sale terms will be uniform across all partcipants: quantity cap, price, cliff, unlocking rate
- cashout only happens in the last block of the sale.
- vesting and cliff only applies from that point on: so basically you need to store
  - cliff: `initial_number_of_tokens_liquid`
  - unlocking_rate: `tokens_unlocked_per_block` <

[2022-03-22 16:24] mnaamani commented on #3431
Leaving some points here to keep in min for later:

#### How the faucet currently works
The "membership faucet" is nothing more than web api that uses a regular member account. The api invites new members. That is how funds are provided to the new member.

#### Managing available invites of the faucet:
On a regular basis the working group lead must create a proposal requesting a large number of in

[2022-03-22 16:53] bwhm opened #3473 "Community Contributions"
Starting with Olympia, we are trying to get the community more involved in the development (and maintainance) of our code base in general, and user facing applications especially.
I think we should ignore mostly the runtime at this stage, and focus mainly on Pioneer especially, as that is both where there is the most low hanging fruit and the product that arguably needs the most new features, but

[2022-03-22 16:57] bedeho commented on #3263
Replying to some questions in public for context:

Yes I think this is a mistake, all minting has to be constrained by one global budget. But now that you mention it, it probably makes sense to use the council budget, rather than content WG, because otherwise one ends up having to give a possible super large budget to the WG, despite the lead not being supposed to spend it. So That is a mistake on

[2022-03-22 18:14] bedeho commented on #3431
1. I see, so this basically means we can't fund with an amount that exceeds the baseline invitation lock, just using the invitation feature.
2. Could you perhaps add an extra feature where some funds are just transferred by the faucet from some reserve account in order to overcome this constraint? This amount should obviously be set server-side.
3. Could you add alerts (e.g. on email or whatever)

[2022-03-22 21:28] bedeho commented on #3422
I think this overall is a very nice approach. Its not 100% bullet proof, for example, perhaps `::perform` can inadverdently get called twice? I guess even this can be silently blocked by just having hidden state which protects against this.

In general I see this making interactions across pallet boundaries much safer, and its also a clear standard, which we currently are lacking, which leads to p

[2022-03-23 09:21] mochet opened #3476 "Post-mainnet idea: spending proposal that pays out over multiple events"
Reference: https://cointelegraph.com/news/coinlist-rally-40k-investors-rush-to-buy-rly-despite-price-pump

Idea:
* A proposal that allows for tokens to be sent to a single address, divided into individual, defined time periods.
* It should be possible to `veto` the proposal after approval, so that in the event of the recieving party not honoring the social agreement in place, the council can cut o

[2022-03-23 09:50] bedeho commented on #3476
I did not understand what this meant or how its different from a normal spending proposal.

[2022-03-23 10:44] mochet commented on #3476
A normal spending proposal:
* `1m JOY` to `Bob` at `block 14,900,123`

This would be:
* `1m JOY` to `Alice` organized into `5 payments of 200k JOY`
1. `200k JOY` at `block 16,500,000`
2. `200k JOY` at `block 16,600,000`
3. `200k JOY` at `block 16,700,000`
etc

and at any point prior to the final payment, the proposal could be `vetoed` cutting off any further payments.

[2022-03-23 16:19] #2825 closed, assigned to nobody

[2022-03-23 20:46] singulart opened #3480 "Olympia validator won't start: The Trust Settings Record was corrupted"
MacOS Big Sur

[code]

[2022-03-23 21:48] singulart opened #3481 "Olympia full node won't start: ResponseTooLong"
MacOS Big Sur

[code]

[2022-03-23 21:53] traumschule commented on #3480
Similar but not exact upstream also mac related https://github.com/paritytech/substrate/issues/5442

[2022-03-23 22:20] singulart commented on #3480
Fixed this specific error by detecting and removing the corrupted certificate:

`/usr/bin/security delete-certificate -c "common name of the corrupt certificate" -t`

The error about corrupted trust settings went away, now I experience the error that is reported separately: https://github.com/Joystream/joystream/issues/3481

[2022-03-23 22:20] #3480 closed, assigned to nobody

[2022-03-24 02:15] #3325 closed, assigned to nobody

[2022-03-24 07:46] traumschule opened #3483 "Warn not to create proposal during election"
https://discord.com/channels/811216481340751934/812345044094156811/956286332647399434

[2022-03-24 08:23] shamil-gadelshin commented on #2731
It was integrated into the Colossus v2 readme file

[2022-03-24 08:23] #2731 closed, assigned to shamil-gadelshin

[2022-03-24 09:03] thanhtantran opened #3484 "new joystream-node-6.5.0 doesn't work on Ubuntu 18.04"
It requires new GLIBC version
`./joystream-node: /lib/x86_64-linux-gnu/libm.so.6: version `GLIBC_2.29' not found (required by ./joystream-node)`

but on Ubuntu 18.04 it has only 2.27

[code]

[2022-03-24 11:47] bedeho commented on #3382
Overall, phenomenal effort on this, in particular on the rigorous specification of extrinsics. I think however, this become quite a bit more detailed than was needed, as the overall question that we were trying to pin down was mostly just how this pallet interfaces with the rest of the runtime:

1. what does $CRT pallet call inside runtime
2. what extrinsics does $CRT directly expose
3. what does

[2022-03-24 12:57] shamil-gadelshin opened #3487 "MEDIUM_1 v1.1: Upgrade the Joystream runtime to the latest Substrate version."
We need to upgrade our runtime to the latest Substrate version.

## Comments
* It makes sense to use "polkadot-*" branches to apply updates similar to Polkadot and other major Substrate-based networks: https://github.com/AcalaNetwork/Acala/blob/399a1f61e2d0bf4d601fd624446d90487eaf6bd2/modules/asset-registry/Cargo.toml#L12
* the current version is `polkadot-v0.9.17`
* some of the changes were imple

[2022-03-24 13:59] dobertRowneySr opened #3488 "Inconsistency in English auction parameters"
# Problem
In the runtime we have:

[code]

In the `start_english_auction` extrinsics however the auction is started immediately (i.e. block height the extr. is called at).
But the semantic is unclear since an invariant should be `start = end - duration`, which can be broken arbitrarely in the `EnglishAuctionParams` by specifying

* `end`
* any value for duration which gives `end - duration` > curr

[2022-03-24 14:22] L3pereira opened #3489 "Bounties: Oracle should transfer rewards to workers or slash their accounts at the judgement stage"
When the oracle submits a judgement he already has to iterate the entries he is judging, when he decides an entry is a winner, the oracle must attribute a reward to that entry, if the oracle already knows the worker_member_id  and the amount to reward, he can get the controller worker account id and transfer that amount right away.
If the oracle decides an entry is rejected he can slash the worker

[2022-03-24 17:02] dmtrjsg commented on #3483
Fair point, and we will be addressing execution constraints handling for all proposals. This error will not repeat itself, but before council is elected, all proposals are getting rejected.
@traumschule thanks for raising!

[2022-03-24 17:02] #3483 closed, assigned to nobody

[2022-03-24 17:34] mnaamani commented on #3242
Done in https://github.com/Joystream/joystream/pull/3252

[2022-03-24 17:34] #3242 closed, assigned to mnaamani

[2022-03-24 17:35] #3451 closed, assigned to mnaamani

[2022-03-25 06:04] dobertRowneySr commented on #3382
Extrinsic list:
- `transfer(source_origin, token_id: TokenId, destination: TransferLocation, amount: Balance)`, transfer single output according to current policy
- `transfer_multi_output(source_origin, token_id: TokenId, outputs: Vec<(TransferLocation,Balance)>)`, transfer multi output according to current bolicy
-  `bond(origin, token_id: Self::TokenId, to_account: TransferLocation<AccountId>, a

[2022-03-25 06:33] #2721 closed, assigned to nobody

[2022-03-25 06:34] #2590 closed, assigned to mnaamani, dobertRowneySr

[2022-03-25 06:34] #2720 closed, assigned to nobody

[2022-03-25 06:34] #2719 closed, assigned to nobody

[2022-03-25 06:35] mnaamani commented on #2717
We opted to use forkit tool to grab a snapshot of the chain and use that as the starting chain to be upgraded

[2022-03-25 06:35] #2717 closed, assigned to nobody

[2022-03-25 06:36] #2716 closed, assigned to nobody

[2022-03-25 06:36] #2712 closed, assigned to nobody

[2022-03-25 06:37] #2711 closed, assigned to nobody

[2022-03-25 07:00] mnaamani commented on #3484
Thank you for bringing this to our attention. There are currently two binaries in the release:

https://github.com/Joystream/joystream/releases/tag/v10.5.0

[joystream-node-6.5.0-x86_64-linux-gnu.tar.gz](https://github.com/Joystream/joystream/releases/download/v10.5.0/joystream-node-6.5.0-x86_64-linux-gnu.tar.gz)
and
[joystream-node-6.5.0-201a5c9-x86_64-linux-gnu.tar.gz](https://github.com/Joystre

[2022-03-25 09:36] traumschule commented on #3029
Done.

[2022-03-25 10:29] mnaamani commented on #3484
If you were to update libc and kernel with:
`apt-get dist-upgrade`
Would that solve your problem @thanhtantran ?

[2022-03-25 11:39] L3pereira opened #3493 "Proposal to terminate a bounty"
In certain situations, it may be necessary to terminate the bounty, the council should be able to propose this action.
The respective action will only be executed if the bounty is in the working period or judging period as described in more detail in #3193

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202024908049833) by [Unito](https://www.unito.io)

[2022-03-25 11:39] bedeho opened #3494 "Proposal: Reduce from council budget"
Council should be able to burn budget capacity as a way to take future minting off the table.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202202225872277) by [Unito](https://www.unito.io)

[2022-03-25 11:42] bedeho opened #3495 "Directly burn channel account funds"
When a channel account owned by the platform (i.e. a curator group), owns a channel which generates some kind of revenue in $JOY, then this should be recapturable by the DAO through a token burn. In order to not complicate permissions any further, and since its quite sensitive, and likely quite rare, lets make this a lead only action.

┆Issue is synchronized with this [Asana task](https://app.asan

[2022-03-25 11:57] bedeho commented on #3382
This was very useful, list of extrinsics was quite sensible and clear.

- I don't think we can do `change_to_permissioned`, as you are then effectiely opennig up the door to freezing people's assets. That is a non-starter.
- `update_patronage_rate` => `reduce_patronage_rate`
- `issue_token(owner_account ..`: This would mean we have to keep account in synch, because remember that members can change

[2022-03-25 12:08] bedeho commented on #3493
Remember to add audit label when its part of the audit work, and also add to the audit project.

[2022-03-25 13:03] Lezek123 commented on #1359
Pioneer v1 issue, no longer relevant

[2022-03-25 13:03] #1359 closed, assigned to Lezek123

[2022-03-25 13:05] Lezek123 commented on #1441
Issue relates to an outdated content directory model, no longer relevant

[2022-03-25 13:05] #1441 closed, assigned to Lezek123

[2022-03-25 13:06] Lezek123 commented on #1502
Pioneer v1, no longer relevant

[2022-03-25 13:06] #1502 closed, assigned to Lezek123

[2022-03-25 13:12] Lezek123 commented on #1593
Done (https://github.com/Joystream/joystream/commit/000db57baf88f6e341ad2c1dbcb6d58f9332b166)

[2022-03-25 13:12] #1593 closed, assigned to Lezek123

[2022-03-25 13:14] Lezek123 commented on #2331
Covered by https://github.com/Joystream/joystream/pull/2334

[2022-03-25 13:14] #2331 closed, assigned to Lezek123

[2022-03-25 13:14] Lezek123 commented on #2489
Pioneer v1, no longer relevant

[2022-03-25 13:14] #2489 closed, assigned to Lezek123

[2022-03-25 13:15] Lezek123 commented on #2569
Pioneer v1, no longer relevant

[2022-03-25 13:15] #2569 closed, assigned to Lezek123

[2022-03-25 13:19] Lezek123 commented on #2687
Done in https://github.com/Joystream/joystream/pull/2707

[2022-03-25 13:19] #2687 closed, assigned to Lezek123

[2022-03-25 13:21] Lezek123 commented on #2688
Done in https://github.com/Joystream/joystream/pull/2751

[2022-03-25 13:21] #2688 closed, assigned to Lezek123

[2022-03-25 13:22] Lezek123 commented on #2689
Done in https://github.com/Joystream/joystream/pull/2582

[2022-03-25 13:22] #2689 closed, assigned to Lezek123

[2022-03-25 13:23] Lezek123 commented on #2690
Implemented as part of https://github.com/Joystream/joystream/pull/2582

[2022-03-25 13:23] #2690 closed, assigned to Lezek123

[2022-03-25 13:24] dobertRowneySr commented on #3382
So you are saying that `Permissionless` state is a terminal state (since we can't revert to Permissioned)?

About the token owner authentication part. What we really want to establish is, `(origin, token_id) ->`  `origin` is signed by the `token_id` or not, approaches so far:
- yours: I didn' get if the actual `ensure_is_token_issuer` implementation should be inside the content pallet or inside th

[2022-03-25 13:25] Lezek123 commented on #2692
Done as part of https://github.com/Joystream/joystream/pull/2708

[2022-03-25 13:25] #2692 closed, assigned to Lezek123

[2022-03-25 13:26] Lezek123 commented on #2693
Done as part of https://github.com/Joystream/joystream/pull/2708

[2022-03-25 13:26] #2693 closed, assigned to Lezek123

[2022-03-25 13:27] Lezek123 commented on #2694
Done as part of https://github.com/Joystream/joystream/pull/2708

[2022-03-25 13:27] #2694 closed, assigned to Lezek123

[2022-03-25 13:27] kdembler commented on #3463
1. +1 from me on just overriding the full list of videos with new order, instead of separate add/remove/reorder.
2. One thing I was wondering about is ID space. Would it be hard to follow the same approach as runtime and use incremental integer IDs? The reason I'm asking is that we use those IDs in the URL, for example `video/1234`, `channel/1234`, etc. `playlist/METAPROTOCOL-OLYMPIA-123456-4` may

[2022-03-25 13:28] Lezek123 commented on #2696
Done in https://github.com/Joystream/status-endpoint-joystream/pull/22

[2022-03-25 13:28] #2696 closed, assigned to Lezek123

[2022-03-25 13:34] Lezek123 commented on #2697
Done in https://github.com/Joystream/joystream/pull/2638

[2022-03-25 13:34] #2697 closed, assigned to Lezek123

[2022-03-25 13:35] Lezek123 commented on #2698
Done in https://github.com/Joystream/joystream/pull/2967

[2022-03-25 13:35] #2698 closed, assigned to Lezek123

[2022-03-25 13:36] Lezek123 commented on #2699
Basic integration tests added in https://github.com/Joystream/joystream/pull/2849

[2022-03-25 13:36] #2699 closed, assigned to Lezek123

[2022-03-25 13:37] Lezek123 commented on #2846
Mostly covered in https://github.com/Joystream/joystream/pull/2849

[2022-03-25 13:37] #2846 closed, assigned to Lezek123

[2022-03-25 13:44] bedeho commented on #3382
Yes

It could not be inside CRT pallet, because that would not make the same implementation reusable across different types of owners, then we may as well just hard code owner types directly in `TokenData`, it makes no difference. With what I am saying, you can take the exact same pallet code, and someone could use it in another runtime with totally diffeent ownership conscepts, or, if we want mul

[2022-03-25 13:49] Lezek123 commented on #2705
Done (https://github.com/Joystream/joystream/commit/ec7fdf74169d8215968bfd664b53b3238c39586c)

[2022-03-25 13:49] #2705 closed, assigned to Lezek123

[2022-03-25 13:50] Lezek123 commented on #2700
Done as part of https://github.com/Joystream/joystream/pull/2582

[2022-03-25 13:50] #2700 closed, assigned to Lezek123

[2022-03-25 14:02] bedeho opened #3496 "Factor out budget interaction with council and working groups"
# Background
There will be an increasing number of places in the runtime where one wants to plug into the budget of the council of a working group. There is already some implementation code for this stuck in the bounty module, but this is not great.

https://github.com/Joystream/joystream/blob/olympia/runtime-modules/bounty/src/actors.rs#L151

# Proposal
Add code for this in the council and wg pal

[2022-03-25 14:38] mnaamani commented on #3481
Unfortunately I don't have access to a `MacOS Big Sur` and it seems to be something networking OS specific. If someone else can try to reproduce and debug perhaps we might get some more insight.

[2022-03-25 14:48] bedeho commented on #3382
# Summary

So we decided that in order to avoid having to
- iterate over curators that may be part of the curator group that may own channel for a token
- introduce extra state in content pallet for TokenId => ChannelId, to recover the correct channel for a token identifier, OR alternatively, start allowing channel pallet to set the token id to its own channel id during issuing.

we will go with t

[2022-03-25 19:43] bedeho commented on #3382
So it occurred to me: is it a good idea that $JOY account of each token lives outside of token pallet? If it is, how should project pallet interact with it? In particular when it comes to revenue splits, the initiation of a split requires that somehow the amount being paid out is not spendable, and that people cashing out their share of the split are able to transfer part of these unspendable fund

[2022-03-26 02:59] #3356 closed, assigned to nobody

[2022-03-26 07:50] dobertRowneySr commented on #3382
I didn't put it in the design.

We can have something like `split_account`s (internal to the modules) like we have for channel accounts and `issue_split` will need to know the `channel_account`  from which a transfer `X` amount of JOY to the `split_account`.
Every split claim will consists: `balance_pallet::transfer(spit_account, member_account,  X*S/100)`.

[2022-03-26 08:03] dobertRowneySr commented on #3382
With that we should have also an function that lives externally like:
`funds_account_for_admin(origin, opaque_id: Vec<u8>) -> AccountId` that it is a variant of the function you suggested which retrieves the internal channel account.

[2022-03-26 09:28] bedeho commented on #3382
# Summary

So we decided after a quick call

- Introduce a new _split account_ per channel which is credited with `X` $JOY (split amount) when a split is initiated by debiting the external account for the token. The external account in the case of the content directory would be the channel account.
- whenever a split is over, the issuer has to call an extrinsic `finalize_split` which will move any

[2022-03-26 09:36] bedeho commented on #3382
# Observation

Perhaps we should just make all issuer actions into non-extrinsics, so pallet methods? This would

- Simplify authentication: no need for the opaque scheme before, only $CRT holders authenticate in extrinsics, which would be trivial `ensure_signed` only.
- Allow better permissioning: for example
  - should collaborators be allowed to do a revenue split? in our current scheme, there

[2022-03-26 11:58] bedeho opened #3497 "Module accounts getting removed from storage"
# Background

Looking at code which transfers funds from a module account, for example in the bounty module

https://github.com/Joystream/joystream/blob/d8481275bc958c4f3029a12423879eb789009e19/runtime-modules/bounty/src/lib.rs#L1698

it occurred to me that these accounts may frequently get entirely depleted, and this may trigger automated cleanup if they dip below existential limit. If this dip w

[2022-03-26 12:47] L3pereira commented on #3497
In the bounty pallet case, one solution would be the creator send a maintenance fee = existential limit (this fee is locked) to the bounty account, this will keep the account alive. Then when executing the last transfer (remove bounty) we unlock the fee and transfer the fee back to the bounty creator, and then the AllowDeath remove the bounty account.

[2022-03-26 16:57] dobertRowneySr commented on #3497
In the `pallet_token` account I established the rule:
if `free_balance + reserved_balance < existential_deposit` -> account is deleted

[2022-03-26 22:50] bedeho commented on #3497
But this is for $CRT accounts? right? in which case that is not the case I am talking about, I am talking about _module accounts_, for $JOY, only module accounts can become insolvent, as they are the ones which are pooling value for some business process.

[2022-03-26 23:41] bwhm opened #3498 "Forum: `MaxCategories`"
Don't know if this is a bug, or intended behavior, but the category related limits for the forum are:
[code]

Seeing this, I assumed there could be up to 20 top level categories, then 20 subcategories for each, etc. However, the limit appears to be 20 overall.

[2022-03-27 09:17] bedeho commented on #3498
Yes I think this is indeed as intended, so probably the runtime level constant should have been better documented.

[2022-03-27 14:50] traumschule opened #3499 "tokio-runtime-worker: `watch_extrinsic` `subscriptions.add` not implemented"
just experienced  'tokio-runtime-worker' panicked at 'not implemented', should be fixed on [master](https://github.com/paritytech/substrate/blob/master/client/rpc/src/author/mod.rs#L221)

[code]

## Code
`.cargo/git/checkouts/substrate-7e08433d4c370a21/2cd2096/client/rpc/src/author/mod.rs`
[code]

# Slashes

`staking.validatorSlashInEra` lists 13 slashes of 7% for era 94 (just before Sun Mar 27 12

[2022-03-28 07:38] singulart commented on #3473
The pioneer 2 design is not responsive, meaning, one can't use it on Mobile. If Builders come up with an idea (plan) on how this can be addressed, would that fit in your vision of Community Contribution, that is, would it have a chance to be funded by JSG?

[2022-03-28 07:54] Lezek123 commented on #3380
Done in https://github.com/Joystream/joystream/pull/3454

[2022-03-28 07:54] #3380 closed, assigned to Lezek123

[2022-03-28 08:54] shamil-gadelshin commented on #3497
There could be options to fix it with minimal changes:
- change all operations with such accounts to [Keep alive](https://docs.rs/frame-support/2.0.0/frame_support/traits/enum.ExistenceRequirement.html) having them incapsulated in some common module
- transfer some initial balance (equal to the ExistentialDeposit) to such accounts on the pallets' initialization (runtime upgrade code)

[2022-03-28 09:07] kdembler opened #3502 "NFT query node - handle `update_buy_now_price` extrinsic"
Currently QN doesn't handle `BuyNowPriceUpdated` (https://github.com/Joystream/joystream/blob/rhodes/runtime-modules/content/src/lib.rs#L1606), so price updates don't have any effect

Runtime work done in https://github.com/Joystream/joystream/issues/3315

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202033076560571) by [Unito](https://www.unito.io)

[2022-03-28 09:19] #3304 closed, assigned to zeeshanakram3

[2022-03-28 09:19] #3300 closed, assigned to zeeshanakram3

[2022-03-28 09:34] #3424 closed, assigned to zeeshanakram3

[2022-03-28 09:34] #3426 closed, assigned to zeeshanakram3

[2022-03-28 11:25] bedeho commented on #3497
I believe `Keep alive` just has the semantics that the operation will fail if it would result in the account falling below the extential limit, look here

https://paritytech.github.io/substrate/master/src/pallet_balances/lib.rs.html#1505

This would not be a solution for us. It would indeed prevent insolvency of the module account, but it would do it by keeping excess funds stuck. What we really n

[2022-03-28 11:25] bedeho commented on #3497
Question: do we have any examples of module accounts that are static from FRAME pallets, and what they do?

[2022-03-28 11:57] bedeho opened #3503 "Runtime event best-practice"
The following has been found to be good best practice to make it convenient to write query node mappings that are simple and robust.

1. Each extrinsic should have _exactly_ one event: this is very important, typically violated by having events emitted by internal utility methods that can be called by multiple extrinsics.
2. The event should be named camel case past tense of whatever verb extrinsi

[2022-03-28 11:58] bedeho opened #3504 "Update events for bounty pallet"
Follow this best practice https://github.com/Joystream/joystream/issues/3503.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202033859654421) by [Unito](https://www.unito.io)

[2022-03-28 12:12] bedeho opened #3505 "Document critical state bloat parameters"
Certain parameters in a few pallets are encoding what balance is needed as an effective state bloat bond, and also to avoid existential deposit cleanup of built in accounts: https://github.com/Joystream/joystream/issues/3497

We should in the source code very clearly add to the documentation of each such parameter, whereever it is declared, that it has this critical status, and that it therefore _

[2022-03-28 12:53] #3504 closed, assigned to nobody

[2022-03-28 12:54] #3503 closed, assigned to nobody

[2022-03-28 16:26] bedeho opened #3507 "Explicit bounty bloat bond"
# Background
Currently, there is not bounty state bloat bond. It has been thought that simply _requiring_ a minimimal cherry by the funder would be sufficient, however, upon further inspection it seems this is not the case. Here is one kind of attack which is still possible

1. Attacker creates a new bounty is created, which
  * respects some minimum cherry limit, say `100`.
  * limited time durat

[2022-03-28 18:32] bedeho opened #3508 "Existential deposit problem for content module account"
# Background

The problem is basically this https://github.com/Joystream/joystream/issues/3497

Currently, the content directory has a module account for

1. state bloat bonds for social stuff
2. funding channel rewards.

Now since 1 is likely going away, and 2 is a bug, its not clear what future this module account has, but I am creating this issue none the less to make sure we do not forget abou

[2022-03-28 18:34] bedeho opened #3509 "Existential deposit problem for forum and proposal discussion module account"
Same as https://github.com/Joystream/joystream/issues/3508, but for forum and proposal discussion pallets, at least if we keep them as pallets, and don't switch to metaprotocol.

_Update: forum uses thread specific accounts, so this is def. an issue there_

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202207049476521) by [Unito](https://www.unito.io)

[2022-03-28 18:35] bedeho opened #3510 "Existential deposit problem for storage module account"
Same as https://github.com/Joystream/joystream/issues/3508, but for storage pallet.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202037015799814) by [Unito](https://www.unito.io)

[2022-03-28 18:45] bedeho opened #3511 "Protect channel account dusting: introduce channel state bloat bond"
# Background
So channel state bloat is indirectly deterred by the fact that there is a storage bag state bloat bond which is put up, and all channels have 1-1 relationship with lifetime of a dynamic bag. However, there is still the problem of the channel account risking getting dusted, as outlined here https://github.com/Joystream/joystream/issues/3497, for this reason we may as well introduce a s

[2022-03-29 08:14] mnaamani commented on #3499
cc: @shamil-gadelshin

[2022-03-29 08:19] Lezek123 opened #3514 "Use council budget for channel payouts"
Ref: https://github.com/Joystream/joystream/issues/3263#issuecomment-1075392302

Depends on #3496

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202040059119165) by [Unito](https://www.unito.io)

[2022-03-29 08:20] kdembler opened #3515 "NFT query node - add price to nft bought events"
There are 2 events that indicate that NFT was bought immediately:

* `NftBoughtEvent` (for NFTs in BuyNow status)
* `BidMadeCompletingAuctionEvent` (for NFTs on auction that had a `buyNowPrice`)

It would be great if QN could add price for which the NFT was bought to those events when queried via respective event queries, so that Atlas can show notification like `Your NFT was bought for 50k tJOY`

[2022-03-29 08:29] shamil-gadelshin commented on #3289
The code was merged.

[2022-03-29 08:29] #3289 closed, assigned to shamil-gadelshin

[2022-03-29 08:29] shamil-gadelshin commented on #3070
The code was merged.

[2022-03-29 08:29] #3070 closed, assigned to shamil-gadelshin

[2022-03-29 08:30] shamil-gadelshin commented on #2816
The code was merged.

[2022-03-29 08:30] #2816 closed, assigned to nobody

[2022-03-29 08:33] Lezek123 commented on #2936
Resolved in https://github.com/Joystream/joystream/pull/3454

[2022-03-29 08:33] #2936 closed, assigned to Lezek123

[2022-03-29 08:33] Lezek123 commented on #2760
Implemented in https://github.com/Joystream/joystream/pull/3366

[2022-03-29 08:33] #2760 closed, assigned to Lezek123

[2022-03-29 08:45] mochet commented on #1244
closing because no longer relevant

[2022-03-29 08:45] #1244 closed, assigned to nobody

[2022-03-29 10:46] bedeho commented on #3111
# Background

There was an attempt to fix this issue in this PR, which generated a longer discussion

https://github.com/Joystream/joystream/pull/3125

# Summary

Here is a summary of my view of the core set of problems in the `Olympia` branch.

## Primary Problem

Threads can be deleted, however, they are the link from posts to categories, and thus once a thread is deleted, there is no way to aut

[2022-03-29 14:24] shamil-gadelshin opened #3517 "Mainnet. Runtime. Generate benchmarks in proper conditions."
We need to run benchmarks using proper conditions and parameters:

* reference hardware
* having set proper 'steps & repeats' parameters
* upgraded Substrate framework
* run benchmarking for the Substrate pallets (like frame_system)

This could solve some strange [issues](https://github.com/Joystream/joystream/pull/3393#discussion_r837536560) in the generated weights files.

┆Issue is synchronized

[2022-03-29 16:12] MindsGaming opened #3519 "Joystream Roadblocks (New users)"
New users hit many roadblocks on the new system with the costs and locked tokens.
I think defining what locked tokens are and what they can be used for is very needed for new users.
I have listed the major roadblocks and ideas for solutions below to focus on the question “What can I do with my $JOY?”

1.) Controller account
Locked tokens can not be moved to your controller account to participate i

[2022-03-29 16:19] MindsGaming commented on #3398
https://github.com/Joystream/joystream/issues/3519

[2022-03-29 16:39] MindsGaming commented on #3414
https://github.com/Joystream/joystream/issues/3519

[2022-03-29 19:13] mnaamani commented on #3499
Could you share how you produced this error on your node.

[2022-03-29 20:17] bedeho commented on #3382
We decided to go with summary in last post.

[2022-03-30 10:54] L3pereira opened #3521 "When cancel bounty extrinsic is called, a bounty can be removed with pending contributions"
The following `OR` condition allows an expired funding period with contributions to pass.

https://github.com/Joystream/joystream/blob/1c37a713511cfaf35b9577069f78827492324f2c/runtime-modules/bounty/src/lib.rs#L1677-L1681

Then the bounty is removed, preventing all the funders to withdraw their funds.
https://github.com/Joystream/joystream/blob/1c37a713511cfaf35b9577069f78827492324f2c/runtime-modu

[2022-03-30 11:00] L3pereira opened #3522 "Oracle reward shouldn't be automatically paid out"
Oracle reward is never automatically paid out, oracle must actively withdraw reward in all terminal cases, bounty therefore also cannot be removed before this has happened. Add a new global variable oracle_withrew_reward: bool, and a new extrinsic for this withdrawal. Remember that there may be 0 oracle reward.

[2022-03-30 11:17] L3pereira opened #3523 "New Terminate Bounty extrinsic, veto_bounty removal"
A new extrinsic `terminate_bounty` should allow the council to terminate the bounty (as Failed Bounty) in

- Funding Period w/o contributions
- Working Period
- Judging Period

`Veto_bounty` allows the Council to remove a bounty in the funding period without contributions, this should be removed as its functionality is very similar to terminate_bounty

[2022-03-30 11:30] bedeho opened #3524 "`cancel_bounty` bug"
There is a bug in `cancel_bounty` on `Olympia`, which allows cancellation when funding period has expired, this is a bug which allows removing a bounty with contribution.

Note: I believe this is being fixed on `Audit3` implementation.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1202049025944023) by [Unito](https://www.unito.io)

[2022-03-30 11:43] traumschule commented on #3499
runs with `./target/release/joystream-node --name joystreamstats --chain joy-testnet-6.json --pruning archive --validator -d ~/ --rpc-cors all` and endpoint is advertised [here](https://discord.com/channels/811216481340751934/812344657794301972/956268834149527552) so anyone could try (malicious) extrinsics.

[2022-03-30 14:10] #3375 closed, assigned to bedeho, mnaamani, shamil-gadelshin, Lezek123, dobertRowneySr, L3pereira

[2022-03-30 14:23] bedeho opened #3525 "Claim less than full amount to channel"
Currently `claim_channel_reward` requires that the channel owner claims the full available amount, but the Atlas product team has identified this as a problem, specifically because the council budget constraints may at time prevent big whales from cashing out their full amount. For this reason, let us allow the owner to do a partial cashout by providing a `Option<Balance>` field, where `None` mean

[2022-03-30 14:35] #1145 closed, assigned to nobody

[2022-03-30 14:36] #1585 closed, assigned to nobody

[2022-03-30 14:36] #2155 closed, assigned to nobody

[2022-03-30 16:35] bedeho commented on #3519
Thank you for this really appreciate it.

I think I need more tokens for how these tokens came to be locked. If you are referring to tokens locked as a result of getting invited by another member, then those are certainly usable in governance, despite not being moveable, this is by design.

This may indeed be correct, I am reviewing this in the sanity check here #3414 , I think there is a practica

[2022-03-30 18:07] bedeho commented on #3404
Should this be closed?

[2022-03-30 18:09] #3498 closed, assigned to bedeho

[2022-03-30 18:39] singulart opened #3526 "Can't apply for a bounty: ConflictingStakes error"
I am trying to apply for a bounty https://dao.joystream.org/#/bounty/preview/5 , the system fails the transaction.
[Error evidence](https://polkadot.js.org/apps/?rpc=wss://rpc.joystream.org:9944/#/explorer/query/0x4b3308016c4229c03c1e2697fabc884dea18301a281326425cd43b6805b3ae73)

[2022-03-30 19:18] mochet commented on #3526
This is likely a Pioneer issue. Still investigating.

[2022-03-30 19:19] mochet commented on #3404
Yes, closing as this was already fixed.

[2022-03-30 19:19] #3404 closed, assigned to nobody

[2022-03-30 20:30] mochet commented on #3526
This is a Pioneer issue (https://github.com/Joystream/pioneer/issues/2739) so can be closed.

[2022-03-30 23:07] ondratra opened #3529 "Add query node related lint checks to Husky on-commit hook"
We have repeatedly committed and pushed not properly linted code related to query node into PR. Our checks here on GitHub look for linting errors and discover them before the PR is to be merged, but committing not linted code unnecessarily consumes both developers' time and CI computation time.

An example of a failing lint check can be seen here https://github.com/Joystream/joystream/runs/5758766

[2022-03-30 23:32] MindsGaming commented on #3519
Okay lets use a live example of what I mean.

I make a post about a bounty I created for Joystream on my social media like [this one](https://www.minds.com/newsfeed/1355706329380950032). One of my subscribers see this post and joins Joystream to participate in the bounty, they have 100 tokens as they used my username as an invite. However they cannot join the bounty as it is 1001 tokens to announc

[2022-03-31 07:08] singulart commented on #3526
Closed as per comment above

[2022-03-31 07:08] #3526 closed, assigned to nobody

[2022-03-31 07:35] singulart opened #3530 "Question about Referendum winners calculation"
Hi Team!

To give you a bit of a context: after the first Olympia council elections that went quite problematic, I am tasked to investigate the possible reasons some candidates with high stakes didn't get the seat. The following code snippet from the [referendum pallet](https://github.com/Joystream/joystream/blob/c57054eebe5da4f683134dbdaaecf50263ec7336/runtime-modules/referendum/src/lib.rs#L793-L

[2022-03-31 08:08] bedeho opened #3531 "Forum banning of member"
# Background
Banning user accounts, possibly for a limited period of time, is a standard feature on a lot of forums, despite the fact that users are able to make new accounts and post again. This still is a meaningful feature because people lose the ability to post under a given personae, which is often very valuable.

# Proposal
Allow forum lead to ban and unban other members. Bans can be perpetu

[2022-03-31 08:43] L3pereira commented on #3522
When the creator cancels a bounty with no contributions, in funding period or expired funding period, the bounty is removed.
To be able to withdraw the oracle reward, I've to prevent the bounty from being removed when cancelled, but this will maintain the bounty in the same stage, allowing the extrinsic to be called multiple times until the oracle withdraws his reward.
When `cancel_bounty` is call

[2022-03-31 09:32] bedeho commented on #3522
I think you need a new _milestone_ e.g. `CancelledBounty`, but can't you just reuse the existing failedstage, for withdrawals?

[2022-03-31 09:47] leetjoy commented on #3531
agree we definately need this

[2022-03-31 10:18] mochet opened #3534 "Question: Why does the forum iterate through threads and subcategories upon category deletion?"
Highlighted here: https://github.com/Joystream/community-repo/issues/737#issuecomment-1081884180
Another related issue: https://github.com/Joystream/joystream/issues/3498

Why does the extrinsic need to iterate through all threads?
Doesn't it make more sense for a category to be able to be deleted and just ignore all the threads it contains, since they can be cleaned up/moved after the fact.

I'm

[2022-03-31 10:27] mochet commented on #3531
Would be a useful feature to have, however, should there not be a `reasoning` provided by the forum lead?
The alternative is that they create a thread to communicate ban reasons, but it seems like it would be far more convenient for the reasoning to be embedded when the ban is created.

[2022-03-31 10:51] L3pereira commented on #3522
I think there is a distinct difference between a bounty that is cancelled and a bounty that failed, I think we should have a milestone  CancelledBounty, but that has to be expressed in a CancelledBountyStage, the oracle then can withdraw in Success|Failled|Cancelled
If a cancelled bounty goes to a failed stage, then I've to start making more messy validations in other extrinsics.
Remember that, a

[2022-03-31 11:02] mochet commented on #3398
I didn't know the creator payout system could work for something like this. While that is nice to have, it would be nice to have the kind of "give locked tokens" feature since then it isn't reliant on governance. Governance decisions are not only heavily impacted by whatever elected council and reasoning provided within a proposal, but the time delay is significant.

#### Approach A: Using a chann

[2022-03-31 11:04] mochet opened #3535 "Idea: Actually viable on-chain reputation score via locked tokens"
Origin: https://github.com/Joystream/joystream/issues/3398

# Concept:
* Diagram: https://github.com/Joystream/joystream/issues/3535#issuecomment-1084653913
* The idea of `staking tokens in support of channels/content` has been explored on several platforms, but one problem with this is that the user doesn't usually gain much advantage. As a whole it seems to either be staking or directly sending

[2022-03-31 11:11] singulart commented on #3530
@mnaamani Please have a look at my PR...

[2022-03-31 11:26] mochet commented on #3535
Diagram showing a simplified, initial version of the concept which only factored in videos and channels.
![locked_tokens](https://user-images.githubusercontent.com/50830161/161049156-39ff89a5-cc1f-4871-9ce8-1feabf7b3bb1.png)

[2022-03-31 12:04] bedeho commented on #3522
Ok, makes sense.

[2022-03-31 12:17] bedeho opened #3537 "Tune Rhodes runtime parameter values"
We need to revisit and make sure that these make sense in light of what we have found, in particular its critical that invited members can do certain key things.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202055944788386) by [Unito](https://www.unito.io)

[2022-03-31 12:18] bedeho commented on #3537
This would be one known problem: https://github.com/Joystream/joystream/issues/3519#issuecomment-1083767929

[2022-03-31 12:19] bedeho commented on #3519
Ah ok, that was very specific and helpful.

So I expect we have quite a few of these problems, because this is not even the kind of fundamental problems I am looking for in #3414 , its basically just about having a coherent set of parameter values. These have been subject to some thoughtful consideration:

https://github.com/Joystream/joystream/issues/3451

but clearly there are mistakes, as I thi

[2022-03-31 12:23] bedeho commented on #3531
So true, just painful to have to build extra stuff about it. Would be a non-trivial job to now layer that into Pioneer. I think we have to just accept that communication has to be out of band for the v1 of this. Its really not great, but there is only so much time.

[2022-03-31 12:33] eclipsingbinary commented on #3535
Yes, please!!
Staking  tokens on a creator is something I personally already benefit from as a musician on Rocki.com and have not found any other platform so far that matches it. It's the most permissionless way to reward both creators and stakers simultaneously.

Now, what you are describing in the form of non-transferable locked tokens sounds very interesting as, if I understand correctly, it ad

[2022-03-31 12:47] traumschule commented on #3531
Against banning without process or reasoning, needs at least categories like spam, rights violation (who is oracle?!), etc. again referencing https://en.wikipedia.org/wiki/Wikipedia:How_to_delete_a_page

Just curious why would it be different than for deleting assets? https://github.com/Joystream/joystream/issues/2760#issuecomment-1062129372

This gets messy fast. There are years of experience aro

[2022-03-31 12:51] L3pereira commented on #3521
I found this is not really a bug, since BountyStage::FundingExpired has already implicit there are no contributions.
This is validated in the get_stage logic
https://github.com/Joystream/joystream/blob/1c37a713511cfaf35b9577069f78827492324f2c/runtime-modules/bounty/src/stages.rs#L55-L57

If there are contributions> min and funding period expired then goes to work period otherwise go to failed stag

[2022-03-31 12:51] #3521 closed, assigned to L3pereira

[2022-03-31 12:58] mochet commented on #3535
There's no reward! If there were a reward it would open the door to sybil attacks and manipulation extensively.
It may seem very unorthodox because of that, and the fact they're locked tokens, but I think this is actually a feasible idea for a reputation system purely because its unorthodox.

[2022-03-31 13:41] mnaamani commented on #3499
Yes what I really meant was what was the extrinsic that caused this issue, and how did you send it into the node, via a custom script, the joystream-cli, or polkadot-js apps .. ?

[2022-03-31 13:47] mnaamani commented on #3499
Also just as a general best practice, I would avoid making any validator expose rpc externally.

[2022-03-31 14:20] mochet commented on #3535
Diagram illustrating how this concept could work across every single piece of content, including video, governance and practically everything and be used as a highly viable reputation system.
![locked_tokens2](https://user-images.githubusercontent.com/50830161/161077438-13dbfb3f-771a-46e6-aea7-01fb1e0afc87.png)

[2022-03-31 15:17] MindsGaming commented on #3535
Very interesting, I like the general concept of sending newcomers locked tokens they can use anywhere on the network and make things more fluid for contributing to the platform.

One thing I would mention is to scrap the manual trigger and use a code, this is very helpful to larger channels.

So I could make a code for 2,000 locked tokens. Start a bounty and promote it via video, blog etc without

[2022-03-31 15:17] MindsGaming commented on #3519
https://github.com/Joystream/joystream/issues/3535

[2022-03-31 15:46] mochet commented on #3535
I have also added that video categories, forum labels and other such things could use this same system. I do not know what the recipient account would be in this instance, but this can be an extremely valuable way of allowing for those things to have their own reputational value on the platform.
Gateway's may not honor them, since they don't capture any value from them, but it could still be utili

[2022-03-31 15:53] traumschule opened #3539 "Distribution CLI: Assign multiple bags to one or more buckets in one strike."
A common use case for [distribution](https://github.com/Joystream/joystream/issues/2553) lead is to add buckets and assign more than one bag to it once the operator finished setup via  [update-bag](https://github.com/Joystream/helpdesk/tree/master/roles/distributors-lead#update-bag).

Currently lead has to iterate over all bags causing many chain events and in the future possibly transaction costs

[2022-03-31 15:59] traumschule opened #3540 "graphql playground regression"
since olympia got merged to master

https://ipfs.joystreamstats.live/graphql
https://ca.joystreamstats.live/graphql
[code]

please check if https://query.joystream.org/graphql uses uncommitted changes.

[2022-03-31 16:59] traumschule commented on #3534
See https://github.com/Joystream/joystream/issues/761 and https://github.com/Joystream/joystream/issues/2545

It would be highly undesirable to have orphaned threads and categories (keyword [bloat](https://github.com/Joystream/joystream/search?q=bloat&type=issues)).

[2022-03-31 19:57] ondratra commented on #3540
There seem to be slightly different issues on mentioned servers.
1) On the first server, the middleware URL returns http `error 404`
https://ipfs.joystreamstats.live/graphql -> https://ipfs.joystreamstats.live/@apollographql/graphql-playground-react/build/static/js/middleware.js
2) On the second server, the middleware URL mistakenly servers the playground webpage (`index.html`) instead of the expe

[2022-03-31 21:03] traumschule commented on #3540
Thanks for checking! Was an easy fix, just removed the `*` from `/@apollographql/*`:
[code]

[2022-03-31 21:03] #3540 closed, assigned to nobody

[2022-04-01 09:54] mnaamani commented on #3540
A simpler approach could have been just:

[code]

But at least you have a solution for future if you decide to have a different location such as

[code]

[2022-04-01 10:15] bedeho commented on #3447
# Conclusion

- No longer have minimum funding limit, even 0.
- This lack of a minimum removes the original attack.
- Rely on introduction of contribution bloat bonds to pay for stroage of those

[2022-04-01 11:20] mnaamani commented on #3420
The code was correct, the only occurrence of:
`let video = VideoById::<T>::get(video_id);`
Was preceded by
`let post = Self::ensure_post_exists(video_id, post_id)?;`
So it was still safe, and an explicit check for ensure_video_exists was not necessary because of the invariant that if a post is found then the video must exist.
And finally `let channel = ChannelById::<T>::get(video.in_channel);` was

[2022-04-01 12:27] bedeho commented on #3524
Turned out to not be a bug, summary in redudnant issue here: https://github.com/Joystream/joystream/issues/3521

[2022-04-01 12:27] #3524 closed, assigned to nobody

[2022-04-01 14:07] L3pereira opened #3545 "State bloat bond requirement for creators"
Add a state bloat bond requirement for creators, which is automatically paid when the bounty is removed in `remove_bounty`.
The minimum amount is a constant. Described here: #3507

Since there will be an incentive for a creator to remove the bounty, we can drop `T::MinCherryLimit` and all associated validation.

[2022-04-01 14:11] L3pereira opened #3546 "Drop max_funding_limit & min_funding_limit from BountyCreationParameters"
Dropping max_funding_limit & min_funding_limit from BountyCreationParameters would simplify the funding logic.
The funding should have only a target limit

[2022-04-01 14:58] kdembler opened #3549 "NFT query node - `auction` empty when querying NFT via `videos` query"
[code]

This query will return `auction: null` even if the auction is there

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202063420120581) by [Unito](https://www.unito.io)

[2022-04-01 15:01] kdembler opened #3550 "NFT query node - no support for `BuyNowPriceUpdated` event"
Currently QN doesn't handle `BuyNowPriceUpdated` (https://github.com/Joystream/joystream/blob/rhodes/runtime-modules/content/src/lib.rs#L1606), so price updates don't have any effect

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202063561803943) by [Unito](https://www.unito.io)

[2022-04-01 15:03] kdembler opened #3551 "NFT query node - improve finding open auction winner"
Currently, QN uses this code to find the winner of an open auction: https://github.com/Joystream/joystream/blob/rhodes/query-node/mappings/src/content/nft.ts#L264

This however isn't fully correct, as there can be multiple bids from multiple users for the same amount. If that's the case, there's a chance query node will pick the wrong winner. This depends on runtime event being extended with addit

[2022-04-01 15:04] #3305 closed, assigned to ondratra

[2022-04-01 15:05] #3344 closed, assigned to ondratra

[2022-04-01 15:06] #3550 closed, assigned to nobody

[2022-04-01 15:14] #3549 closed, assigned to nobody

[2022-04-01 15:23] #3259 closed, assigned to mnaamani

[2022-04-01 15:23] #2570 closed, assigned to mnaamani

[2022-04-01 15:45] bedeho commented on #2655
I also just realized that the spec is a bit misleading, its not allowed that the channel owner can destroy an NFT for a video in their channel. Its only the genuine owner who can do it, so it is either when the NFT is owned by the channel owner, i.e. `NftOwner::ChannelOwner` or when its the explicit member owning the NFT, so `NftOwner::Member`.

[2022-04-01 22:00] mnaamani commented on #3484
You could always build the binary [from source](https://github.com/Joystream/joystream/blob/master/node/README.md#building-from-source)

[2022-04-02 07:14] mochet commented on #3534
But couldn't the forum WG lead can just be responsible for running a script or something that identifies orphaned threads?
It seems like this requirement to iterate over every thread/subcategory because the restraints mentioned here: https://github.com/Joystream/joystream/issues/3498
include this note:

So the runtime has to restrict the number of threads, categories and subcategories that exist b

[2022-04-02 11:50] bedeho commented on #2362
# Vesting Clarification

vesting only applies
- when you buy a token during a sale
- a self-imposed limit by creator on allocation they received during issuance of tokens

but tokens that are vesting due to these, they still count towards revenue split.

[2022-04-02 11:50] traumschule opened #3553 "Referendum: Allow combined lock for multiple votes"
I would like to be able to have my lion share staked on one account and vote for multiple candidates with it.

[2022-04-02 11:59] dobertRowneySr commented on #2362
Suppose before a split member has configuration `(free_balance, vesting) = (F, V)` he would like to stake amount `X`. which one applies:
a. member can specify amounts `X = X1 + X2` and stake `X1` from free balance and `X2` from vesting amount
b. free balance tokens will have priority in stake accounting: so first he will try and stake free balance `F` and then (eventually) he will stake `X - F` if

[2022-04-03 16:35] bedeho commented on #3382
# Close AMM

I think it should be possible to turn off AMM again, it should be possible only by the issuer and require that it has no bonded $JOY at the moment. Probably useful to allow closing it and selling sufficient $CRT to buy back all $JOY, so at to deplete AMM and satisfy this constraint in one step.

[2022-04-03 18:47] singulart opened #3555 "Pioneer: unable to apply for a WG opening"
User MannyK#4967 reported an issue with Pioneer: they can't apply for a Storage WG opening, because of an error `utility.BatchInterrupted: members.StakingAccountDoesntExist`.

Proof of Error: https://polkadot.js.org/apps/?rpc=wss://rpc.joystream.org:9944/#/explorer/query/0x2e148f3a8ce0233a69ce01a83062df4f47fb63c6671dfd4b96812096d762b542

An application process in Olympia requires a staking account

[2022-04-04 07:49] Lezek123 commented on #3472
Done in https://github.com/Joystream/joystream/pull/3506

[2022-04-04 07:49] #3472 closed, assigned to Lezek123

[2022-04-04 08:10] mnaamani commented on #2655
Completed in #3547

[2022-04-04 08:11] #2655 closed, assigned to mnaamani

[2022-04-04 08:11] #3420 closed, assigned to mnaamani

[2022-04-04 08:15] mnaamani commented on #3530
Thanks for this I'll try to look into it today

[2022-04-04 08:23] bedeho commented on #3525
Turns out this is already possible by just setting`item` field `PullPayment::cumulative_payout_claimed`.

[2022-04-04 08:23] #3525 closed, assigned to shamil-gadelshin

[2022-04-04 08:27] shamil-gadelshin commented on #3496
Done

[2022-04-04 08:27] #3496 closed, assigned to nobody

[2022-04-04 08:27] shamil-gadelshin commented on #3497
Done for https://github.com/Joystream/joystream/issues/3510

[2022-04-04 08:27] #3497 closed, assigned to shamil-gadelshin

[2022-04-04 08:54] dmtrjsg opened #3556 "QN Creator Tokens"
* https://github.com/Joystream/joystream/issues/2362
* https://github.com/Joystream/atlas/issues/2400

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202070319283383) by [Unito](https://www.unito.io)

[2022-04-04 08:56] bedeho commented on #3495
This could also be instead sent back to council budget.

[2022-04-04 09:02] singulart commented on #3555
Closed as the duplicate of https://github.com/Joystream/pioneer/issues/2776

[2022-04-04 09:02] #3555 closed, assigned to nobody

[2022-04-04 09:13] #3510 closed, assigned to nobody

[2022-04-04 09:14] #3507 closed, assigned to nobody

[2022-04-04 09:42] #3488 closed, assigned to dobertRowneySr

[2022-04-04 09:47] #3471 closed, assigned to zeeshanakram3

[2022-04-04 10:40] ondratra opened #3557 "QN flatten transactional status auction relation"
Due to a problem described in https://github.com/Joystream/joystream/issues/3342 will take some time to fix properly, we will create a temporary workaround.
Let's add an optional property `transactionalStatusAuction` to `OwnedNft` entity. It will be a relation to `Auction`, and it will duplicate a value from `TransactionalStatusAuction.auction` (it will be empty on all other transactional status).

[2022-04-04 12:22] bedeho commented on #3397
We decided to not do this until `project_token` pallet was done, as it will be a solid guide for how to split state and do integration cleanly.

[2022-04-04 12:47] dobertRowneySr commented on #3382
### Vesting schedule quick question
vested amount at block `block` for linear + cliff vesting schedule:
`vested_amount(block) = cliff + amount_per_block * (block - vesting_start_block)` with `vesting_start_block <= block <= vesting_end_block`.

[2022-04-04 13:00] bwhm commented on #3473
Here is my draft of the respective workflows for community development, for review by the stakeholders.

## Jsgenesis - Creation
1. Identify open issues (or create them) that are suitable tasks for the community. Give it the label `community-dev`.
2. Assign them a value, that represents the expected workload in hours, under the pretext it's a assigned to an experienced dev that understands the pro

[2022-04-04 13:16] bedeho commented on #3382
Not exactly, the _cliff_ refers to the duration from start to the point in time at which the quantity of tokens you have access to actually starts to increase, before this, nothing is happening as time passes. So this is the formula

`V(b) = 0` if `b < start + cliff`
`V(b) = max{allocation, base_liquidity + (b - [start + cliff])*vesting_rate }` else

where

- `b: BlockNumber >= 0` is the time coun

[2022-04-04 17:12] dmtrjsg commented on #3473
### Part 1

Yes, label is the way to go for cross-sync on diff boards. Plus there's a Project field that we'd probably populate as well for the issues to appear in backlog automatically!

- We can try but estimated time vs actual will be rather different.  We are already using story points in our core team; perhaps we could on our end add story points (= complexity); while community devs and teste

[2022-04-04 19:26] kdembler commented on #3255
I think one big piece that we haven't addressed yet is error handling. I was thinking about this simple approach:
1. As a user I submit a remark extrinsic to the runtime. Once it succeeds, there are some ways I can identify this specific tx, like its hash or block + index.
2. Whenever the query node starts processing a runtime remark and running metaprotocol logic, it could register it as a generi

[2022-04-04 20:33] bedeho commented on #3255
Yeah I think something like this can work fine. When will poll on step 4 be done? can you do it based on some event that tells you processor passed the block where the tx was included?

[2022-04-04 20:35] kdembler commented on #3255
Yes, it will be after the block is processed, we already wait for that

[2022-04-04 20:35] singulart commented on #3473
As the Lead of community builders squad, I don't see how the proposed scheme can be put in effect without prior settling of the working conditions and wages. With the current 6,000,000 tJOY / week budget ($120 in equivalent), we can't do much.

Let me re-iterate: most of the current Builders are experienced engineers, with in-depth Joystream-specific knowledge, and I can't stress enough how import

[2022-04-04 20:37] kdembler commented on #3255
It actually won't be polling, just a single request since if the metaprotocol event is not there already something went bad. We can still retry for some time though

[2022-04-04 21:02] bedeho commented on #3473
I just wanted to clarify one thing: how are people comparing $JOY vs $tJOY in their compensation? So lets say $1 worth of $JOY, using last valuation of token, how much are you or people in the group valuing that as $tJOY equivalent? Same? more? less? and how much either way?

[2022-04-04 21:34] traumschule commented on #3473
It seems you're asking for opinions about community developers being paid mainly via $JOY allocation instead of also $tJOY, or for a rather symbolic amount of 30 $tJOY per hour (not 1.2M according to current rate).
This would open up all current group budgets for debate because workers and leads get paid roughly what the council believes the work is worth right now (not in X years). However either

[2022-04-05 00:40] mochet opened #3559 "Bug: Release vote stake not working (for very specific scenario)"
Two users have reported this issue so far.
This bug only seems to impact users who match a very specific set of criteria. Please see 1st comment on issue for examples showing this to be the case.
* Both users voted during `cycle id: 0`
* Both users revealed votes for unsuccessful candidates from `cycle id: 0`
* Both users attempted to release the stake during `cycle id: 1`
* Both users were trying

[2022-04-05 02:22] mochet commented on #3254
I was going to create an issue for exactly this.
Once an account gets `is_verifed: true` it should no longer be able to update is metadata.

Particularly since we may just user `verified` as a way to "verify" users who are only involved in Governance or other activities and may not be prominent accounts. If these Joystream-centric users gain verification, then they would feasibly be able to change

[2022-04-05 05:56] mochet commented on #3559
Further investigation:
* `referendum.votes` contains `50 votes`
* Query Node shows `28 votes` were released successfully

This shows an example of an example of a successful release similar to the problem scenarios. They voted in the first election for someone who was successful in the second election.
[code]

The stake for this was released at the following block: https://polkadot.js.org/apps/#/e

[2022-04-05 07:02] bwhm commented on #3473
@dmtrjsg

Hey,
Thanks! I have a couple of things to clarify:

What do you mean with 6h?

Yeah, but I don’t think we should target anything near that for the backlog (initially). I’d say we have 20-30 tops.

No, that's not what I mean here! The worker will work on their own fork, and make a PR to one `olympia` or something. If, say Theo, is the reviewer in this scenario, he would then make a PR to

[2022-04-05 07:13] bedeho commented on #3473
This would open up all current group budgets for debate because workers and leads get paid roughly what the council believes the work is worth right now (not in X years). However either way is fine for me.

Everyone is primarily paid in $JOY, right now, that is incentives v3. But I think people have just not understood this yet.
It intentional that the council controls how much each group receives

[2022-04-05 07:56] Lezek123 commented on #3514
Done in https://github.com/Joystream/joystream/pull/3444

[2022-04-05 07:56] #3514 closed, assigned to Lezek123

[2022-04-05 07:57] Lezek123 commented on #3263
Done in https://github.com/Joystream/joystream/pull/3444

[2022-04-05 07:57] #3263 closed, assigned to Lezek123

[2022-04-05 13:43] bedeho commented on #2362
Some questions @ignazio-bovo @Lezek123

1. Should it be possible to remove the whitelist if the creator wants to go from permissioned to permissionless? I think there is no cleanup required, so should be fine?
2. What do we do if a channel is owned by curator group? there is revenue that comes in in the form of $JOY patronage, $JOY sale (when sale i financed by minting, see pt. 4 about change), wh

[2022-04-05 13:44] bedeho commented on #2362
# Ownership conclusion

Members, Working Group Leads and Council can hold $CRTs, not raw accounts.

[2022-04-05 14:19] dobertRowneySr commented on #2362
Yes. As a matter permissionless is a terminal state (you cannot go back to permissioned), so any previous whitelist information is of no use

Why not the channel account internal to the module? Those funds could serve as Cash (in balance sheet term) for future expenses?
I am not sure about sending them to the Council (since one could potentially see this as a 100% income tax) or burning them (you

[2022-04-05 14:54] dobertRowneySr commented on #3382
Is it possible to have multiple vesting schedules ongoing for a token? I.e. given `token_id` there can be at minimum 0 and at most
`n = 1` vesting schedules at any given time?

[2022-04-05 15:19] bedeho commented on #3382
I think the issuer can self-impose a particular schedule when issuing, but then during a sale a new schedule can be imposed for the new amount. This basically implies that you need to be able to have multiple distinct schedules in play on the same account (or now member), because we are allowing multiple sales over time, and also the issuer could participate both in initial issuance and a later sa

[2022-04-05 15:31] Lezek123 commented on #3382
While discussing it with @ignazio-bovo I was considering an introduction of a separate `AccountId => Vec<VestingSchedule>` map in the storage and then allow users to claim the vested tokens through a separate extrinsic in order to limit the amount of computation (including storage read, calculations etc.) done every time we need to retrieve token holder's usable balance. Do you think that would be

[2022-04-05 15:38] L3pereira commented on #3493
Commit f4b418b2e8c2c36a5d034bce2b9d33f786e1ba45 should be merged, after merging PR  Bounty perpetual working period #3485

[2022-04-05 15:40] bedeho commented on #3382
First off, the only computational cost that really is relevant is db-io, realistically, separating this out into a different map from the core account data would only increase that, perhaps I am missing something? There is no extra db-io to what you will have to do anyway when you are doing any sort of transfer, and thus will need to load the `AccountData` instance anyway. Realistically `vesting_s

[2022-04-05 15:49] bedeho commented on #2362
That does not make sense, because channel account is a shared  resources which $CRT holders have a claim on.

what do you mean by this? by backing with JOY? Do you mean no minting/dilution?

You can't block this... Sybil identities.

[2022-04-05 15:51] Lezek123 commented on #3382
This is just the idea I've had based on the fact that similar data structures (like `balances.locks` or `balances.reserves`) are usually separate maps in Substrate. I'm actually not sure at which point it becomes an advantage to use a separate map vs large single storage object, but my hunch was that since we'll load `AccountData` very often and we'll need `vesting_schedules` only during `claim`,

[2022-04-05 16:03] dobertRowneySr commented on #2362
Then you mean a $CRT instead of $JOY in the original question?

$CRT amount `X` is minted into member that purchases `X` during a sale <--> `X * sale.unit_price_in_joy` $JOY is sell from that member to the sale issuer ($CRT owner)

[2022-04-05 16:49] bedeho commented on #3382
Yes, perhaps because they are general purpose and cannot make assumptions about what sort of staking or locking people will want to use in their chain? In our case we have a specific use case, not a general fungible token system to be used for generalised staking of various kinds. If we look at our concrete locks and reservations, we also end up having 2-3 locks simultaneously at most.

Do we need

[2022-04-05 16:54] traumschule commented on #3473
`I think people have just not understood this yet` - because you did not update https://www.joystream.org/token yet.

[2022-04-05 18:37] bedeho commented on #3222
Yes let us do this asap.

[2022-04-06 06:12] bedeho commented on #3429
It seems to me that one can basically extract funds locked for some sort of staking lock, like staking or invitation, by making a bid on the same account (member controller account), because the check involved is `can_reserve`, which does not care about locks. A reservation is then made, which is the way funds are allocated for a unique bid. At this point, you can just win the auction, which resul

[2022-04-06 06:30] #3220 closed, assigned to shamil-gadelshin

[2022-04-06 07:19] Lezek123 commented on #3429
This is not true, [`can_reserve`](https://docs.substrate.io/rustdocs/latest/src/pallet_balances/lib.rs.html#1744) uses [`ensure_can_withdraw`](https://docs.substrate.io/rustdocs/latest/src/pallet_balances/lib.rs.html#1452) under the hood, which does check the locks and makes sure that locked funds are not used as reserve.

I tested this on `rhodes` chain it seems to work properly (I cannot bid for

[2022-04-06 08:19] ondratra commented on #3549
This issue was absorbed by https://github.com/Joystream/joystream/issues/3342. Also, has it's own issue in Hydra tickets https://github.com/Joystream/hydra/issues/396 .

[2022-04-06 08:20] ondratra commented on #3342
This issue is known for quite some time and has it's own ticket in Hydra https://github.com/Joystream/hydra/issues/396.

[2022-04-06 08:53] bedeho opened #3564 "Runtime testing & benchmarking refactoring"
WIP:

The further ideas to improve testing and benchmarking experience would be introducing separate crates for tests and benchmarks with the common code.

**Requires substantial planning about how to do this across all pallets.**

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1202085928360059) by [Unito](https://www.unito.io)

[2022-04-06 09:03] bedeho commented on #3429
We agreed, notwithstanding the prior point, to transition to module accounts due to the opacity of using reservation & locking logic together.

[2022-04-06 09:30] Lezek123 commented on #3084
I believe there was only one issue that the current content-storage integration caused for the query node, which was about no object ids included in `VideoCreated`, `VideoUpdated`, `ChannelCreated`, `ChannelUpdated` events (as mentioned before). This was fixed in https://github.com/Joystream/joystream/pull/3454:
- `ChannelCreated` already included `Channel` struct as part of event payload, so it g

[2022-04-06 10:37] #3084 closed, assigned to Lezek123

[2022-04-06 11:51] bedeho commented on #2381
While I see the value in having greater uniformity than we have now, the new budget manager I think has improved things quite a bit. Perhaps we can go even further by adding a generalized payment helper which can uniformly pay across
- raw accounts
- members (i.e. their controller)
- budgets?

and then this can be used by every module?

I would say that accounts and budgets are not entirely equiva

[2022-04-06 13:17] kdembler opened #3567 "NFT query node - add NFT relation to Bid entity"
In Atlas, we will need to find any withdrawn bids from past auctions the user may have. We prepared this query for this:

[code]

However, as you can see the `auction: { nft: { id_eq: "1" } }` filter is too deep and will not work. Atm the only solution that comes to my mind is to add `Bid.nft` field, then we can replace that filter with `nft: {...}`

┆Issue is synchronized with this [Asana task](h

[2022-04-06 15:03] kdembler opened #3568 "NFT query node - add last sale to NFT entity"
In Atlas, if the NFT is not on sale, we have a design that shows the last price of this NFT (basically the price of the last completed sale + date of that). To achieve that, let's add info on this to the `OwnedNft` entity. We can do it via an object, like so:

[code]

but if it's easier to flatten out, that works as well:
[code]

[2022-04-06 15:04] #3312 closed, assigned to zeeshanakram3

[2022-04-06 15:09] thesan commented on #3473
@bwhm thanks for this workflow looks good to me. I have just a few questions/suggestions:

## Community

- A minor thing to add to the step 3: the WG Lead should probably take care of checking and approving the [GH Workflow](https://docs.github.com/en/actions/managing-workflow-runs/approving-workflow-runs-from-public-forks) as soon as the PR is posted.

- Should there be a round of QA before the s

[2022-04-06 15:53] bedeho opened #3569 "Leaking locked funds through state bloat bonds"
# Background
Assume funds are locked in some account for some purpose, e.g. staking or invitation funds, etc. If you do a transaction which moves funds into a state bloat bond for some object, e.g. creating a channel or video or data object, then this will bypass the lock, as we want to, because we in some cases do in fact locked funds to be usable for such purposes. The problem is then that the u

[2022-04-06 18:26] kdembler opened #3571 "NFT query node - querying across different event types"
### Rationale

Consuming events is important from client's perspective, mostly for constructing history or notification feeds. These types of features will almost always use multiple types of events to present state changes etc. It is also important for those feeds to be:
1. Chronological - so that actions can be traced step by step
2. Paginated - so that we can have a look deep into history witho

[2022-04-06 21:15] dmtrjsg commented on #3473
@thesan @bwhm  here's my attempt to summarise our thread visually  [Link to Miro>](https://miro.com/app/board/uXjVOAJpORw=/ )  I've added postits in red to the areas that require more syncing.  Feel free to add your thoughts as comments straight to the board, or we can talk through it on a call if it works better.

[2022-04-07 07:56] drillprop opened #3572 "QN - activeVideosCounters returns wrong value"
In atlas if you run this query:
[code]
You'll notice that `activeVideoCounters` returns 10, but the array with videos is empty.
![image](https://user-images.githubusercontent.com/51168865/162148426-57424884-5935-4810-bcfc-8891345b5608.png)

I assume this is because the QN counts also videos that were deleted.

[2022-04-07 08:18] ondratra commented on #3551
This was fixed as part of https://github.com/Joystream/joystream/pull/3552.

[2022-04-07 08:18] #3551 closed, assigned to ondratra

[2022-04-07 10:04] #3470 closed, assigned to zeeshanakram3

[2022-04-07 10:05] #3515 closed, assigned to zeeshanakram3

[2022-04-07 10:39] thesan opened #3573 "QN inconsistency in the elections"
There has been some inconsistency on the elections data returned by the QN on the olympia testnet:

### I. Rogue vote detected by user that they did not do (Joystream/pioneer#2753)
5HT8Mty5U5hFKVwv24uFswX2e41vurU3F5rkLMoETR8XmjFy

[code]

![Screenshot 2022-04-01 at 11.28.15.png](https://images.zenhubusercontent.com/6197874e1913711bf1f6ad31/6d488b07-1934-4997-ae89-60935ad6bf70)

### II. The `counci

[2022-04-07 10:49] bedeho opened #3574 "Metaprotocol content category system"
# Background
We are dropping the previous native on-chain category system for videos and channels in favour of a metaprotocol system. Note: doing categories really insightfully will in the future require more thought, but right now we should just target making the least complicating transition w.r.t current Atlas features

# Proposal
Introduce _only_ video categories, drop channel categories, beca

[2022-04-07 10:56] bedeho commented on #3571
- I understand why you want all of these properties (1-3), but 3 just fundamentally violates the idea of querying through an interface which is supposed to represents some base set of properties
- I think the only practical solution here is to just slightly augment our data model and add  separate event streams that mirror the needs of atlas, so `NFTEvents`, `CreatorToken` events, etc. Each interf

[2022-04-07 14:56] Lezek123 opened #3577 "Creator tokens: Sales"
Implement creator token sales functionality based on specifications in https://github.com/Joystream/joystream/issues/2362 and https://github.com/Joystream/joystream/issues/3382

* [x] Introduce sale-related types (`VestingScheduleParams`, `VestingSchedule`, `TokenSaleParams`, `TokenSale`, `InitialIssuanceState::Sale`, `IssuanceState::Sale` etc.)
* [x] Conversion and validation (`VestingSchedulePar

[2022-04-07 15:28] mochet commented on #3559
I have asked the affected users to attempt releasing now (as there is a new election in progress) as well as throughout the next few days to understand if this stake can ever be released or was just impacted by the candidates being on the current council.

Will update when I get more information.

One of the users was able to release their stake successfully:
* https://polkadot.js.org/apps/#/explo

[2022-04-07 16:11] kdembler commented on #3571
I don't think what you proposed works. Even if you restrict stream's scope to only NFT events, each specific event will still have unique fields that you won't be able to place on an interface level. For example, we want notifications for a situation when user gets outbid, for that we would filter via `previousTopBid` on `AuctionBidMadeEvent`. This field will only exist for this specific event.

[2022-04-07 17:57] bedeho commented on #3571
Ah I see what you mean now, yeah that won't really be feasible unless we could write custom query logic, which we can't.

How many of these cases are there?

[2022-04-07 21:06] bedeho opened #3578 "Content curator filtering metadata"
# Background
There are certain key types of metadata about video content that it seems shoud be under the ultimate control of the curators, as it may serve very high level filtering purposes that a lot of apps will rely on. The most immediate ones that come to mind are

1. includes violence
1. includes nudity
1. may cause seizures
1. is graphic
1. is explicitly for children
1. includes advertising

[2022-04-08 07:22] kdembler commented on #3571
Depends on which cases you mean. The only "stream" of events we will need this for is NFTs at the moment. However, in this stream we will need to consume a couple of events:
- `AuctionBidMade` with filter for NFT owner OR previous top bid
- `BidMadeCompletingAuction` with filter for NFT owner
- `OpenAuctionBidAccepted` with filter for member whose bid got accepted OR list of specific IDs

[2022-04-08 07:29] bedeho commented on #3571
Sorry, I should have been much more precise: at this point, the main remedy is restricting scope to sidestep these cases. This however does require just evaluating how negatively this impacts the product in each instance where doing my solution would not work. For example, the case you gave of notifying when _your bid was replaced_, that is useful, but not a launch blocker at this point, I am happ

[2022-04-08 07:46] shamil-gadelshin commented on #3410
Done: https://github.com/Joystream/joystream/pull/3486

[2022-04-08 07:46] #3410 closed, assigned to shamil-gadelshin

[2022-04-08 07:47] shamil-gadelshin commented on #3495
Done: https://github.com/Joystream/joystream/pull/3562

[2022-04-08 07:47] #3495 closed, assigned to shamil-gadelshin

[2022-04-08 09:48] bedeho opened #3580 "Remove dynamic bag state bloat bond"
# Background
As we started to work on state bloat bonds for the content directory, where each channel corresponds to one and exactly one dynamic bag, it became clear that it is a bit redundant to have a bloat bond for _both_ the channel and the corresponding _dynamic bag_. It also seems obvious that all uses of dynamic bags will have this pattern where there is a separate state object in another p

[2022-04-08 09:57] dobertRowneySr opened #3581 "NFT Auction: non winner claim Eng Auction & Types/Runtime mismatch"
* Claim english auction works when claims is made by non winner -> NFT can be stolen via `claim_won_english_auction`
* Inconsistencies between `types/content/index.ts` and `runtime-modules/content/src/nft/types.rs`

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202099501508009) by [Unito](https://www.unito.io)

[2022-04-08 11:07] #3557 closed, assigned to zeeshanakram3

[2022-04-08 11:16] bedeho opened #3583 "Unflatten TransactionalStatus when Hydra is fixed"
When this is fixed https://github.com/Joystream/hydra/issues/396, originally reported here  https://github.com/Joystream/joystream/issues/3342.

[2022-04-08 11:16] #3342 closed, assigned to zeeshanakram3

[2022-04-08 11:44] bedeho commented on #3571
Here is a list of product features, in particular notifications, that are affected by this limitation

1. someone purchased your NFT
2. you got outbid
3. someone bid on your NFT
4. you won an open auction (English auction was left out of scope, too complex)
5. an open auction where you have participated ended.

[2022-04-08 11:47] bedeho commented on #3343
For Rhodes we decided to rely on client side event processing to sidestep this problem for now.

[2022-04-08 11:47] #3343 closed, assigned to zeeshanakram3

[2022-04-08 11:47] bedeho commented on #3571
For Rhodes we decided to rely on client side event processing to sidestep this problem for now.

[2022-04-08 11:47] #3571 closed, assigned to nobody

[2022-04-08 11:51] Lezek123 commented on #2362
I imagine there beeing a cap on total issuance provided during `issue_token` (let's call it `issuance_cap`). Multiple sales can be initiated after the token is issued, but there is a guarantee that the total number of tokens sold (or issued in any other way, including patronage etc.) will never exceed the `issuance_cap`, which means any investor can factor in the highest possible diluance that may

[2022-04-08 11:56] Lezek123 commented on #2362
To be more percise:
[code]

[2022-04-08 13:09] mochet commented on #3534
I now understand why this is the case! closing

[2022-04-08 13:09] #3534 closed, assigned to nobody

[2022-04-08 16:08] dobertRowneySr opened #3584 "NFT Auction completed by exceeding buy now price does not slash buyer"
As title suggests, this is due to non reserving funds before the auction completion function is called

[2022-04-09 08:53] bedeho commented on #2362
I like the following about this idea

1. Its damn simple: simple to reason about, simple to implement, simple to explain. I think it can be made slightly more powerful by allowing issuer to also reduce cap also later, if they find they don't really need it.
2. It allows the creator to reserve some sort of future funding flexibility.
3. It provides some guarantee to stakeholders about how much dilu

[2022-04-09 09:21] bedeho opened #3586 "Discussion: Should creator revenue split last forever?"
# Background

Current requirements

https://github.com/Joystream/joystream/issues/2362#issue-867837174

During a recent product discussion, the point was raised whether creator token issuers should be bound to have a given revenue split % forever, or if they should be able to change it (probably lower if it things worked well) later. This is my attempt to address this.

# Analysis

I think that if

[2022-04-09 09:48] bedeho opened #3587 "Should membership deletion be possible?"
# Background

Currently memberships cannot be deleted by anyone, including owner.

# Question

Is this a good constraint? We could imagine both the owner, and perhaps even the council, being able to delete memberships that are not already in the council for example. The accounts are not deleted, so no funds are lost directly, but if you have funds tied up in your membership, say an open bid on an

[2022-04-09 14:21] bedeho opened #3588 "Council update channel ownership"
# Background
Ultimately, creators will create channels through _applications_, not directly by sending raw transactions. This means these applications are at liberty to maliciously assign ownership of the channel to themselves, even if the creator is using an external wallet/signer to a browser DApp. An unsophisticated creator may not even notice this for a long time, until the channel has accumul

[2022-04-11 08:32] shamil-gadelshin commented on #3437
Done

[2022-04-11 08:32] #3437 closed, assigned to shamil-gadelshin

[2022-04-11 08:34] shamil-gadelshin commented on #544
Done

[2022-04-11 08:34] #544 closed, assigned to shamil-gadelshin

[2022-04-11 08:35] shamil-gadelshin commented on #1814
Done

[2022-04-11 08:35] #1814 closed, assigned to shamil-gadelshin

[2022-04-11 08:43] #3222 closed, assigned to dobertRowneySr

[2022-04-11 08:59] Lezek123 commented on #2362
Sounds good, as this is definitely simpler to implement and reason about and I think it's a good enough starting point.

[2022-04-11 09:34] kdembler commented on #3586
Sounds good and I agree with your reasoning but I think we shouldn't underestimate the effort (product and technical). With NFTs we already had a couple of problematic cases because of async actions (settlement, poor notifications, etc.), I think this also may be a bit complex to explain in the UI so that users understand what will happen. I'm not saying we shouldn't do this, we should just be cau

[2022-04-11 09:35] dobertRowneySr commented on #2362
I am not sure about limiting the total issuance. Most AMM bonding curve assume the opposite. I need to investigate...

*Update*:
Indeed Bonding curves specify `price = f(supply)` hence if want to cap the `supply` we would implicitly cap also the max price allowed for $CRT

*References*:
- https://www.linumlabs.com/articles/bonding-curves-the-what-why-and-shapes-behind-it

[2022-04-11 09:44] kdembler commented on #3588
User signing opaque transactions is a very general problem, not restricted to channels or ownership. Think about the dApp maliciously offering an NFT to an attacker for 1 JOY instead of putting it on sale. We could add this for channels, but what about memberships that can also hold significant value via NFTs? What about malicious NFT transfer? Where do we draw the line?

I see the value of counci

[2022-04-11 11:06] dobertRowneySr commented on #3586
Can you elaborate on or give a small example, I am not understanding all the nuances...
And about the proposal:
I am not sure if this is about:
a. allowing the possibility for a revenue split to last forever
b. allowing having a user defined split rate % for each split
c. the two above

[2022-04-11 12:42] bedeho commented on #2362
Indeed.

[2022-04-11 12:44] bedeho commented on #3586
It is about whether the issuer
A) has to commit to one explicit split percentage _forever_, or
B) can commit to an explicit percentage _for a stated period of time, say 12 months_, and then after this, they are free to commit again to whatever they want.

[2022-04-11 14:26] kdembler commented on #3246
Here's my proposal for the subtitles spec:

### Desired QN schema

We should extend the QN schema for Video entity like so:
[code]

### Setting/changing subtitles

I think we should use existing runtime capabilities of providing assets via the `Video` object. We can update the `VideoMetadata` protobuf message to include subtitles data. There is an issue that subtitles needs to be a list, but how d

[2022-04-11 14:50] dobertRowneySr commented on #2362
How about a cap on the total sale $CRT allocation, instead? like the following:
- max total sale allocation allowed <= `max_percentage` * supply at the time sale is issued

[2022-04-11 16:27] #2855 closed, assigned to nobody

[2022-04-11 16:27] #2580 closed, assigned to nobody

[2022-04-11 16:49] bedeho commented on #2362
Yeah, you could still do one 1000 times per day, and again, the self-dealing is still an issue. I don't see any good way of dealing with that some governance around the $CRT, either by stakeholders or curators, and that starts to get really too complicated too quickly.

Honestly: I just don't know. The ability to do dilute financing in the future may even make the issuer an even more committed ste

[2022-04-11 16:52] bedeho commented on #2362
How about this: max x % sale dilution per year, in total, and x is a parameter controlled by governance (council or curators).

Still pretty simple, allows _some_ self-dealing, but also dilute financing for honest actors.

[2022-04-11 17:04] dobertRowneySr commented on #2362
I have another, more math-like idea, I am putting it out there in case it might be a good one.
- `MAX_PERCENTAGE_BOUND` : max percentage of supply at time the sale is started allowed for a sale allocation
- `n`: sales nonce for token
- `supply(t)` supply for $CRT at block height `t`

`allocation(n+1)` for `n+1` sales needs to satisfy
[code]
This allows to control the total inflation induced by sel

[2022-04-12 03:04] bedeho opened #3595 "Cleanup forum parameters"
The parameters defined for the forum pallet are not all used

[code]

I can verify that at lest `MaxPostsInThread`, which would be a very costly constraint, is not actually used. I suggest the list is reviewed and cleaned up.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202207108111928) by [Unito](https://www.unito.io)

[2022-04-12 05:12] bedeho commented on #2362
I think the benefit of this, compared to my suggestion just prior, is if the platform itself is perhaps not perfectly credible in constraining annual dilution, the cost side is that its less flexible and more complex to explain to users and implement.

I think on balance the prior one would be better in my judgement.

[2022-04-12 05:33] bedeho commented on #3246
This seems very sound, just to confirm, each subtitle object is a separate data object, correct? so if the viewer wants to add a new subitile in the future, they just update a new bundle, right? they dont need republish one new bundle with all subtitles again?

I did not understand this part.

Yep, looks good sir 😎 . I think its very promising that we are able to do it this way, really shows that

[2022-04-12 07:55] kdembler commented on #3246
Yes, each subtitle would be a separate object, correct.

Each video has to have a list of subtitles. So the question I raised is how we provide this list or update it. One approach would be to only include new subtitles in the protobuf message with video metadata. This way, however, it's hard to indicate that we want to remove a specific subtitle. So my suggestion to alleviate that is make sure th

[2022-04-12 09:13] bedeho opened #3596 "QN support for upgraded remarks"
Support: https://github.com/Joystream/joystream/issues/3367

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202137306209493) by [Unito](https://www.unito.io)

[2022-04-12 11:13] bedeho opened #3597 "Issue permissioned CRT with small list of members"
Make it possible to launch a permissioned CRT with a small (i.e. constrained size `BTreeSet<MemberId>`) set of initial members, not only a merkle root like now. In this case, manually create account for each. In fact, lets allow specifying initial balance+vesting schedule as well for each, each having different one.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/12017387063

[2022-04-12 14:29] #2432 closed, assigned to nobody

[2022-04-12 16:09] #3567 closed, assigned to zeeshanakram3

[2022-04-12 16:09] #3301 closed, assigned to ondratra

[2022-04-12 16:10] #3502 closed, assigned to ondratra

[2022-04-12 16:10] #3568 closed, assigned to zeeshanakram3

[2022-04-13 06:18] bedeho opened #3599 "Issuer account creation during transfers on permissioned token"
It would likely be useful for the issuer to be able to make transfers which automatically create accounts for beneficiaries who do not have accounts, despite the transfer policy being permissioned. Such transfers should also be able to encumber the new funds by a some new vesting schedule. Making this a separate extrinsic may help keep the basic transfer clean and simple. Issuer pays state bloat b

[2022-04-13 09:55] ondratra opened #3601 "QN enable whitelisting of nonexisting members"
The runtime doesn't validate that members whitelisted for participating in an auction indeed exist. Update mappings so that whitelisting nonexisting members doesn't crash the processor.

We've decided that non-existing members will be simply skipped from the list. Plus, we need to watch for member creation and update any whitelist the newly created member's id is present.

┆Issue is synchronized w

[2022-04-13 15:38] #3038 closed, assigned to L3pereira

[2022-04-13 17:01] zeeshanakram3 opened #3603 "Flatten Previous top Bid for filtering purpose"
Add new field `previousTopBidder` on NFT events for better easy filtering.

Events that needs to have these fields

* AuctionBidMadeEvent
* BidMadeCompletingAuctionEvent

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201899819496282/1202125279431626) by [Unito](https://www.unito.io)

[2022-04-13 17:09] zeeshanakram3 opened #3604 "AuctionBidMade.ownerMember field seems to be always null"
`AuctionBidMade.ownerMember` field seems to be always null.

[2022-04-14 05:16] #3493 closed, assigned to L3pereira

[2022-04-14 05:47] bedeho opened #3607 "Check price of data object bloat bonds"
# Background
We are looking to add video state bloat bond in the content pallet. This is needed as video objects occupy storage space. https://github.com/Joystream/joystream/issues/3394

# Proposal

**Implement `funds_needed_for_upload(:UploadParameters)`:**

When creating a video, the extrinsic `create_video` will need to ensure that the creator has enough funds for the state bloat bonds. Since c

[2022-04-14 08:12] #3584 closed, assigned to dobertRowneySr

[2022-04-14 08:12] #3581 closed, assigned to dobertRowneySr

[2022-04-14 08:21] #3008 closed, assigned to Lezek123

[2022-04-14 08:21] #3029 closed, assigned to nobody

[2022-04-14 08:21] #3049 closed, assigned to bwhm

[2022-04-14 08:21] #3179 closed, assigned to bwhm

[2022-04-14 08:22] #3180 closed, assigned to bwhm

[2022-04-14 08:22] #3278 closed, assigned to ondratra

[2022-04-14 08:22] #3226 closed, assigned to bwhm

[2022-04-14 08:22] #3208 closed, assigned to Lezek123

[2022-04-14 08:22] #3303 closed, assigned to ondratra

[2022-04-14 11:17] shamil-gadelshin opened #3610 "Update NFT limits: integrate moderation action permissioning system."
Change updating channel NFT limits permissions from WG leaders to curators using the new permissioning system.

Related links:

* https://github.com/Joystream/joystream/issues/2651
* https://github.com/Joystream/joystream/pull/3609

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202129391558076) by [Unito](https://www.unito.io)

[2022-04-14 17:55] #1925 closed, assigned to nobody

[2022-04-14 17:55] #3082 closed, assigned to dobertRowneySr

[2022-04-14 17:56] #3199 closed, assigned to nobody

[2022-04-14 17:56] #3200 closed, assigned to nobody

[2022-04-15 05:37] bedeho opened #3612 "Enhance NFT minting limits"
# Background
https://github.com/Joystream/joystream/pull/3609

# Proposal
* Update to be mergable into `audit3`, not `ephesus`.
* Allow unlimited mode for limits, meaning there is no active constraint.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202133808413661) by [Unito](https://www.unito.io)

[2022-04-15 05:39] #3429 closed, assigned to shamil-gadelshin

[2022-04-15 05:40] #2651 closed, assigned to shamil-gadelshin

[2022-04-15 05:59] bedeho opened #3613 "QN support for proposal `UpdateChannelPayouts`"
ssia.

[code]

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202078489349362/1202133799708356) by [Unito](https://www.unito.io)

[2022-04-15 08:26] bedeho opened #3614 "QN support for creator cashouts"
When channel owner uses council payout proof to credit their channel account.

* **Extrinsic:**`claim_channel_reward` in content pallet.
* **Event:**`ChannelRewardUpdated` in content pallet.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202078489349362/1202134282310474) by [Unito](https://www.unito.io)

[2022-04-15 08:27] bedeho opened #3615 "QN support for withdrawals"
Support channel owner action of withdrawing funds from the channel accounts.

* **Extrinsic:** `withdraw_from_channel_balance` in content pallet.
* **Event:** `ChannelFundsWithdrawn` in content pallet.
* **Extrinsic:** `claim_and_withdraw_channel_reward` in content pallet.
* **Event:** `ChannelRewardClaimedAndWithdrawn` in content pallet.

# Dependency
This should be done first https://github.com/

[2022-04-15 08:31] dobertRowneySr commented on #3597
When creating a token issuer can specify permissioned mode with a merkle root that will contain all the whitelisted accounts.
Initial whitelist will specify at most `N` accounts for which merkle proof *won't be verified*.
Now can exist accounts for which merkle verification succeeds and are not specified in the initial whitelist passed during issuance?
If so I immagine that such accounts will have

[2022-04-15 08:54] bedeho commented on #3597
No, here the way the account is created is not using Merkle proof. It is just directly created as a result of the issuer doing it. This is for scenarios where the issuer wants to just get started more easily with a small number of initial accounts.

So there is no use of `join_whitelist`. I think even this extrinsic name is a bit confusing, perhaps we should just have called it `create_account` or

[2022-04-15 09:07] bedeho opened #3616 "(Old) Ephesus Release Plan"
Superceeded by new plan: https://github.com/Joystream/joystream/issues/4593

---

# Name
`Ephesus`

# Brand

![](https://user-images.githubusercontent.com/437292/163551254-f54b3e30-9b40-4aa3-98ad-a65d9bb2d9e1.png)

# Goals

### 1. `Creator Payouts: Enable council to pay creators at scale.`
### 2. `YPP: Enable Atlas apps to use Youtube-Synch infrastructure.`
### 3. `Liberated: Transition to Liberat

[2022-04-15 09:56] dobertRowneySr opened #3617 "CRT Account Lifecycle"
# Creation
Refers to the initialization and adding the `AccountData` record to pallet storage
## Permissioned Mode
Either one or another (see [this](https://github.com/Joystream/joystream/issues/3597#issuecomment-1099975963)).
! permissioned accounts = all the accounts that are allowed to exists in `Permissioned` mode
- **`(TO BE CONFIRMED)`**: CRT issuer (owner) will issue token in permissioned m

[2022-04-15 12:58] Lezek123 commented on #3597
I added the [`InitialAllocation` type](https://github.com/Lezek123/substrate-runtime-joystream/blob/creator-token-sales/runtime-modules/project-token/src/types.rs#L406) on my `creator-token-sales` branch, which is:
[code]
And used inside `TokenIssuanceParameters`
[code]

It could be easily just changed to `initial_allocation: Vec<InitialAllocation>` to support this idea.

[2022-04-15 13:18] Lezek123 commented on #3617
I added a comment about this [here](https://github.com/Joystream/joystream/issues/3597#issuecomment-1100089419).
I think in that case the issuer should pay the bloat bond for all accounts created.

I think you meant that `Y` is expected to pay for `X` (since `Y` is the transfer sender and `X` is the new account in your example).

In my opinion regardless of whether it's `Permissionless` or `Permis

[2022-04-15 14:35] dobertRowneySr commented on #3617
Yes, I edited the original post. Thanks for the correction

[2022-04-15 15:55] #3603 closed, assigned to zeeshanakram3

[2022-04-15 15:55] #3604 closed, assigned to nobody

[2022-04-16 07:51] bedeho commented on #3597
@Lezek123 Looks solid.

[2022-04-16 08:40] bedeho commented on #3617
You are separating balances being vested from those involved in split, but we allow people to use unvested balances to get their split as well, I believe we agreed upon this a long while ago. What I don't remember is whether we allowed using only part of the balance, or it had to be the full amount (at the time).

I am seeing we are using many terms now, like vesting schedule, vesting balance, res

[2022-04-16 08:58] bedeho opened #3622 "Reorganise remaining constants"
# Dependency

https://github.com/Joystream/joystream/issues/3625

# Background

We have a large number of pallets which have one or more inlined constant values which impact business logic. To be clear, by this I mean a literal value in the Rust code which itself can only be changed or removed with a runtime upgrade or a fresh network. I am here not talking purely about numerical constants, althou

[2022-04-16 09:08] bedeho opened #3623 "Carthagne Network Release Plan"
WIP: Last network before mainnet :pray: :prayer_beads:

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202137095879358) by [Unito](https://www.unito.io)

[2022-04-16 09:27] #2359 closed, assigned to mnaamani, shamil-gadelshin

[2022-04-16 10:06] bedeho opened #3624 "No `debug_assert` in prod"
# Background
We are multiple places in the runtime doing `debug_assert` on invariants, but this would cause panic if failed

https://doc.rust-lang.org/reference/conditional-compilation.html#debug_assertions

# Proposal
1. For whatever scripts, automated builds or documentation we have about building a node or runtime blob, make sure `debug_assert` is not included in production builds.
1. If the di

[2022-04-16 10:50] #2911 closed, assigned to bedeho

[2022-04-16 10:53] #1681 closed, assigned to nobody

[2022-04-16 10:53] #1685 closed, assigned to nobody

[2022-04-16 10:53] #1686 closed, assigned to nobody

[2022-04-16 10:53] #1917 closed, assigned to nobody

[2022-04-16 10:53] #1918 closed, assigned to nobody

[2022-04-16 10:53] #1923 closed, assigned to nobody

[2022-04-16 13:01] #3330 closed, assigned to mnaamani

[2022-04-16 13:02] #2597 closed, assigned to nobody

[2022-04-16 13:31] bedeho opened #3625 "Replace constants with mutables"
# Background

Same as this issue: https://github.com/Joystream/joystream/issues/3622

_Read it._

# Proposal

On further reflection, its not clear that having any value as a constant makes a great deal of sense in the context of an upgradable Substrate chain. We have the ability to do forkless upgrades, and we have a proposal system for that. Those upgrades allow us to change any property of the s

[2022-04-16 13:35] bedeho opened #3626 "Mega parameter upgrade proposal"
# Background

We currently have quite a few parameters, that is mutable storage values that impact business logic, in the runtime, and we will get more in the future.
https://github.com/Joystream/joystream/issues/4225

Right now, we have followed the approach of updating each proposal individually, this is fine, but it also leads to at least the following two problems

1. We need a very very large

[2022-04-18 00:43] mochet commented on #3559
All 3 accounts appear to have been able to release stake successfully, albeit they weren't able to do so at the same stage as other users and were delayed in doing so. This means this "bug" is likely confined to only a certain subset of users and the "worst result" is that they have some delay in releasing their stake.

@bedeho is this considered something that requires a fix?

[2022-04-18 07:25] bedeho commented on #3559
Can you add more explicitly what the handbook says should happen that is violated?

[2022-04-18 08:53] mochet commented on #3559
From: https://joystream.gitbook.io/testnet-workspace/system/council#vote
* `If the vote is for an ongoing election, then it is not recoverable.`  - These votes were not for ongoing elections.
* `If the vote is for the last concluded election, then it is recoverable only if it was unsealed in favor of a losing candidate, otherwise it is not.` - These votes for unsealed in favor of losing candidates

[2022-04-18 09:32] dobertRowneySr commented on #3617
@bedeho : Do you think it is appropriate that a owner can delete his account even when it is not "empty"?

[2022-04-19 08:26] bedeho commented on #3617
What is empty though?

[2022-04-19 08:41] bedeho opened #3629 "CRT revenue split"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202146722600230) by [Unito](https://www.unito.io)

[2022-04-19 08:43] bedeho opened #3630 "Compelte `project_token` pallet AMM"
Remember: Similar to how NFT fees are collected. Fee itself comes from a global storage parameter.

This is the most latest spec as far as I recall: https://github.com/Joystream/joystream/issues/3832

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202146640573021) by [Unito](https://www.unito.io)

[2022-04-19 08:44] bedeho opened #3631 "Benchmark CRT"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202414696932014) by [Unito](https://www.unito.io)

[2022-04-19 10:55] thesan commented on #3573
The problem `II` is back on [`query.joystream.org`](https://query.joystream.org/graphql), now the currently elected council `000004` has an empty `councilElections` field and the latest election round available (which shows as unfinished) is the one which elected the previous council `000003`.

![Screenshot from 2022-04-19 12-54-26](https://user-images.githubusercontent.com/6571453/163988894-084b8

[2022-04-19 12:55] #3099 closed, assigned to dobertRowneySr

[2022-04-19 15:22] bedeho opened #3633 "Concept Synch: Project Token Accounts"
# Background

We are trying to introduce project token accounts which

- have simultanous vesting schedules
- have funds locked for splits, which can also come out of unvested funds
- have normal transferrable funds

I don't think we need any notion of claiming or claimed amount as I am currently seeing, and since I don't have visibility into what is happening exactly with revenue splits - and how

[2022-04-19 15:57] Lezek123 commented on #3633
Does this mean that _unvested_ tokens can be used during splits? Because that would imply that `transferrable(b)` (which is `amount - split_staking_status.locks(b) - unvested(b)`) could be `< 0` (I assume we'll be using `saturating_sub`, so it just stays at `0` and doesn't underflow).

There is another question that arises from this: If we allow using _unvested_ tokens for splits, shouldn't we act

[2022-04-19 16:11] bedeho commented on #3633
Yes.

Yes I think that is wrong actually, but I think your suggestion is also wrong, shoudln't it be

`transferrable = amount - max(split_staking_status.locks(b), unvested(b))`

[2022-04-19 16:12] Lezek123 commented on #3633
Yes, sorry for the typo.

[2022-04-19 17:32] #3098 closed, assigned to dobertRowneySr

[2022-04-19 21:14] adovrodion opened #3690 "QN synchronization error"
I added two new workers to my group and fired one. - https://dao.joystream.org/#/working-groups/hr
The CLI shows up correctly.
No change in pioneer.
It was also supposed to close the openning.
![image](https://user-images.githubusercontent.com/84832436/164102711-168a0b89-ebe4-4671-bf23-ef28e21ad6ec.png)
![image](https://user-images.githubusercontent.com/84832436/164102902-5bb83c79-79fb-40f2-998c-a

[2022-04-20 08:19] bedeho opened #3635 "QN down alerting"
# Background

Some part of the QN frequently goes down during our testnets, due to some sort of edge case issue, yet this is not directly reported to relevant maintainers.

# Proposal

Add notifications to emails & Slack from our QN deployments, and make it possible for anyone running a QN deployment to do the same.

[2022-04-20 08:20] #3601 closed, assigned to ondratra

[2022-04-20 10:24] #3586 closed, assigned to nobody

[2022-04-20 11:03] dobertRowneySr commented on #3633
About `transferrable(b)`:
- `b` = current block number
- `A = AccountData::amount - AccountData::unvested(b)` (increased whenever new schedules are added)
- `B = StackingStatus::locks(b)` (increased whenever CRT are stacked, decreased when unstacked)

I believe the correct amount that can be transfered is `max(A - B, 0)` with semantics: Any amount greater than zero that is not stacked nor unvested

[2022-04-20 13:59] bedeho commented on #3690
Probably related to the finalization problem going on, which blocks QN from making forward progress.

I think this issue should live on Pioneer, as it is reporting an issue experienced and reproduced in Pioneer.

[2022-04-20 14:28] bedeho commented on #3633
You are by substracing _both_ unvested and locked for revenue split counting the same tokens twice? We should assume that when applying a revenue split, the tokens being locked will first exhaust possible vesting tokens, before eating into unvested tokens, anything else would be irrational for the user.

I guess we need to synch on this tomorrow.

We agreed this is to be implemented by @Lezek123 ?

[2022-04-20 15:22] bedeho opened #3636 "Make project token instance pallet"
It could be useful to have multiple such pallets if we want to endow different runtime pallets with capabiity to have project tokens, e.g. gateways. But before doing this, we should review how much time it would take.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201958687417145/1202777066123569) by [Unito](https://www.unito.io)

[2022-04-20 15:44] bedeho opened #3637 "Project Token Revenue Split Tweaks"
As a result of product meeting we identified some needs

* All revenue splits must confront a universal lower bound on the time to start and duration, so as to give everyone fair access. These lower bounds can be stored as parameters in storage which will later be updatable with proposals, but not need to worry about those proposals now.
* ~It should be possible for the issuer to start a revenue s

[2022-04-20 15:44] bedeho opened #3638 "Project Token Sale Tweaks"
As a result of product meeting we identified some needs

* Only transferable $CRT can be used to fund a sale: this may already be the case, just confirming.
* There should be the ability to specify max $CRT token purchase cap per member in a sale.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202156233248388) by [Unito](https://www.unito.io)

[2022-04-20 16:08] bedeho opened #3639 "AMM questions"
Project AMM questions from Atlas team:

* Does AMM only count $CRT supplied by bonding curve? what about dynamics like burning and patronage, each of which in principle can be of arbitrary magnitude.
* What does issuer get to specify about AMM? curve shape? price at supply=0?

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202156371512611) by [Unito](https:

[2022-04-21 06:17] dobertRowneySr commented on #3617
Use this #3633 as reference, independently from the mode (Permissioned / Permissionless) can a user dust his (owned) account even if it is not empty?

[2022-04-21 06:30] bedeho commented on #3617
Ok, in that case, I suggest we _require_ it to be empty, but we also make sure that burning funds is also possible for funds that are vesting, if we have this new feature, then owner can make it empty is they want by doing a combination of such burning.

Allow burning everything: https://github.com/Joystream/joystream/issues/3640

Is that ok?

[2022-04-21 06:57] bedeho opened #3640 "Allow burning all funds"
Allow burning funds even if they are subject to vesting or staking. I don't think this should cause any trouble, but double check!

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1201738706333715/1202159598893522) by [Unito](https://www.unito.io)

[2022-04-21 16:36] bedeho opened #3642 "QN Bounties V2"
Substantial changes have been made to the bounty module.

New state machine: https://joystream.gitbook.io/testnet-workspace/system/bounties/v2#state-machine

**We should seriously consider stop doing autonomous per block processing, and instead do this filtering client side in a small reusable library. It creates too much complexity and overhead on the QN, which is precisely the worst place to do

[2022-04-21 18:07] bedeho opened #3643 "Update CLI to work with Audit branch changes"
WIP: we need to later unpack the scope of changes that implicate the CLI.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202163476029948) by [Unito](https://www.unito.io)

[2022-04-21 18:21] bedeho opened #3644 "Epic: QN Content Directory & Storage: Carthage/Audit3 Rec"
We have added lots of new features and changed some behaviors

* [x] #3866
* [x] #3869
* [x] #3870
* [x] #3873

Out of scope:

* [x] #3867
* [ ] #3868 (:warning: blocks https://github.com/Joystream/atlas/issues/2823)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202163446166508) by [Unito](https://www.unito.io)

[2022-04-21 18:33] bedeho opened #3645 "Colossus: Update to work with Audit3"
* Should be done after: https://github.com/Joystream/joystream/issues/3644
* Fees will be non-zero, covering both size of extrinsic parameters, and also computational costs. This may warrant even some redesigns to clarify how choices impact fees, but this should be left out of scope in this work, that can be a future enhancement.

┆Issue is synchronized with this [Asana task](https://app.asana.com

[2022-04-22 10:05] bedeho opened #3648 "Bug: Nft Buy Now send revenue into channel account, not nft owner"
# Problem
The extrinsic `buy_nft`

* sends funds to built in channel account if present, rather than nft owner account
* sends funds to either member channel owner if account is not present.
* blocks entire purrchase if account is not present and channel is owned by curator group

see here

https://github.com/Joystream/joystream/blob/audit3/runtime-modules/content/src/lib.rs#L1944

# Fix
In all ca

[2022-04-22 10:35] bedeho opened #3649 "Cleanup NFT buying code"
Both on `rhodes` and `ephesus`/`audit3`, the internal `buy` method looks something like this

[code]

The `if` conditional here can be removed, because we are already sure this is a `BuyNow` NFT. The `price` can be passed in as an argument, and in can initially be returned by `ensure_can_buy_now`, which itself must examine the price to check that purchaser has sufficient balance.

Since this is ju

[2022-04-22 10:57] bedeho opened #3650 "Revising destination of proceeds in NFT transactions"
# Background

In `Rhodes`, I reviewed the impact of NFT ownership, reward account status for the destination of funds in both an auction and buy now scenarios for the purpose of harmonizing

## Auction

This table summarizes destination of revenue (not royalties) when an auction is completed.

| NftOwner vs. Channel Reward Account | Not | Set |
|---------------------------|-----|-----|
| `NftOwner

[2022-04-22 13:21] bedeho opened #3651 "Review WG lead vs. council boundary"
# Background
There are a number of key decision variables which are either controlled by the council or the lead of some subsystem, and there are costs to either choice:

* **Lead:** Risk that the actor either makes a fast and hostile/negligent decision.
* **Council:** Risk that it takes too long or never happen, or are not sufficiently high quality because council has limited domain expertise or

[2022-04-22 13:39] bedeho opened #3652 "Expose bucket selection in content directory extrinsics"
# Background
`UploadParameters` in storage pallet has fields

[code]

but they seemingly have no purpose, as such buckets are only provided by user during dynamic bag creation, not on subsequent data uploads. Also confirmed by the fact that `content` pallet only passing in default constructed, i.e. empty, sets as parameters upon upload.

# Proposal
1. Remove these fields
1. Update content pallet w

[2022-04-22 13:59] bedeho opened #3653 "Review dustability of all module accounts"
Both static and dynamic (e.g. channels) module accounts should be reviewed to ensure they are no susceptible to the issue this PR attempts to address: https://github.com/Joystream/joystream/pull/3538

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202207108511151) by [Unito](https://www.unito.io)

[2022-04-22 14:02] dobertRowneySr commented on #3650
There is also a `complete_nft_offer` that probably should require a similar behavior to the above tables: https://github.com/Joystream/joystream/blob/656679a4501114709c5a3b5f88583c3913ad28ec/runtime-modules/content/src/nft/mod.rs#L250
Behavior as of **now**

|NftOwner vs. Channel Reward Account | Not | Set
-- | -- | --
|NftOwner::Member | member controller account | reward account|
|NftOwner::Chan

[2022-04-22 18:01] bedeho commented on #3649
It seems this exists in other cases, like `complete_nft_offer` as well, so a full review is needed.

[2022-04-23 09:23] bedeho opened #3657 "Simplify `complete_payment`"
# Background
The crate method `complete_payment` is a utility method which attempts to settle value transfers for NFTs, see here

https://github.com/Joystream/joystream/blob/rhodes/runtime-modules/content/src/nft/mod.rs#L353

It accepts `is_auction` as a way to determine whether to deduct funds from the supplied `sender_account_id`, or from the built in content treasury which holds NFT bid funds.

[2022-04-23 09:47] #1705 closed, assigned to nobody

[2022-04-23 10:40] bedeho commented on #3650
- `ensure_owner_account_id` this name really ought to be changed, its not clear what it does, but the name does not seem to capture it. Also, we never do `.map_err(|_| Error::<T>::MemberProfileNotFound)?;` on looking up members which have been already validated, because members are never ever removed. So we just do
- I don't think the table corresponds to what is behaviouir **now**. Basically `ens

[2022-04-23 11:31] #2793 closed, assigned to nobody

[2022-04-23 11:33] bedeho opened #3658 "Plan NFT pallet creation"
# Background
https://github.com/Joystream/joystream/issues/3397

# Proposal
Create an explicit plan for this, which explicitly lists

1. what extrinsics will live in the new pallet, with their events
2. what interface the new pallet offers.
3. what NFT extrinsic remain in the content pallet, and how interface is used, and with events.
4. what is the risk of introducing new bugs or complications.

[2022-04-23 11:33] bedeho commented on #3397
Splitting up into two separate tasks
1. Preparing a plan:  https://github.com/Joystream/joystream/issues/3658
2. Doing it: this issue.

We only do 2 if one seems safe, simple and promising.

[2022-04-23 12:18] #1816 closed, assigned to nobody

[2022-04-23 12:19] bedeho opened #3659 "CLI: Support fees"
Fees will be non-zero, covering both size of extrinsic parameters, and also computational costs. This may warrant even some redesigns to clarify how choices impact fees, but this should be left out of scope in this work, that can be a future enhancement.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202170710245378) by [Unito](https://www.unito.io)

[2022-04-23 12:20] bedeho opened #3660 "Argus: Support fees"
Fees will be non-zero, covering both size of extrinsic parameters, and also computational costs. This may warrant even some redesigns to clarify how choices impact fees, but this should be left out of scope in this work, that can be a future enhancement.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1202132419573087/1202170709665845) by [Unito](https://www.unito.io)